In [475]:
import pandas as pd
import numpy as np

In [476]:
survey_raw = pd.read_excel('survey.xlsx', index_col=0) 
travel_raw = pd.read_excel('travel.xlsx')

/Users/georgievakristina/.pyenv/versions/3.11.2/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [477]:
survey_raw.columns = ['name', 'lob', 'role', 'location', 'attending', '9 (Q9) ',
       '12 (Q12_1) ', '12 (Q12_2) ', '12 (Q12_3) ', '12 (Q12_4) ',
       '12 (Q12_5) ', '12 (Q12_6) ', '12 (Q12_7) ', '12 (Q12SPECIFIED_6) ',
       'travel_notes', 'doing-talk', 'talk-title', 'talk-description', '18 (Q18) ',
       'lob_rep_interest', '20 (Q20) ', '21 (Q21) ', '23 (Q23) ', 'lob_rep_reason',
       '25 (Q25_1) ', '26 (Q26_1) ', 'topics', 'other', 'Started',
       'Completed', 'Branched Out', 'Over Quota', 'Last Modified']

In [478]:
travel_raw["is_host"] = travel_raw['Location'] == travel_raw['Travel to']
travel = travel_raw[['Location', 'Travel to', 'People', 'Est total travel pp', 'is_host']].dropna().copy()
travel['People'] = travel['People'].astype(int)
travel.columns = ['location', 'destination', 'total_people', 'estimated_travel', 'is_host']
travel['location'] = travel['location'].str.lower()
travel['destination'] = travel['destination'].str.lower()
travel['location'] = travel['location'].str.replace('washington, d.c.', 'washington dc')
travel['destination'] = travel['destination'].str.replace('washington, d.c.', 'washington dc')
travel['destination'] = travel['destination'].str.replace('washington', 'washington dc')
travel['destination'] = travel['destination'].str.replace('washington dc dc', 'washington dc')
travel['destination'] = travel['destination'].str.replace('manhattan beach', 'manhattan beach & la')
travel['location'] = travel['location'].str.replace('manhattan beach', 'manhattan beach & la')
travel['destination'] = travel['destination'].str.replace('ã', 'a')
travel['location'] = travel['location'].str.replace('ã', 'a')

/var/folders/4w/v5gq_r_d3x5bfsq8nd08gj0c0000gn/T/ipykernel_36179/3116241812.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  travel['location'] = travel['location'].str.replace('washington, d.c.', 'washington dc')
/var/folders/4w/v5gq_r_d3x5bfsq8nd08gj0c0000gn/T/ipykernel_36179/3116241812.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  travel['destination'] = travel['destination'].str.replace('washington, d.c.', 'washington dc')

In [479]:
travel['destination'].unique()

array(['bengaluru', 'paris', 'dallas', 'barcelona', 'shanghai',
       'sao paulo', 'berlin', 'milan', 'munich', 'frankfurt', 'stockholm',
       'bogota', 'boston', 'washington dc', 'new york', 'london',
       'casablanca', 'chicago', 'seattle', 'gurugram', 'zurich', 'madrid',
       'manhattan beach & la', 'santiago', 'san francisco', 'sydney',
       'toronto', 'perth', 'tokyo', 'singapore'], dtype=object)

In [480]:
survey_raw = survey_raw[survey_raw['location'].str.len() >1]
survey_raw = survey_raw[survey_raw['attending'] == 'Yes']
survey_raw = survey_raw[survey_raw['location'] != 'dfasd']

In [481]:
#clean locations
survey_raw['location'] = survey_raw['location'].str.lower()
survey_raw['location'] = survey_raw['location'].str.replace('chk - ', '')
survey_raw['location'] = survey_raw['location'].str.replace('acc', '')
survey_raw['location'] = survey_raw['location'].str.replace('dal', 'dallas')
survey_raw['location'] = survey_raw['location'].str.replace('guk', 'gurugram')
survey_raw['location'] = survey_raw['location'].str.replace('bos', 'boston')
survey_raw['location'] = survey_raw['location'].str.replace('bostonton', 'boston')
survey_raw['location'] = survey_raw['location'].str.replace('cas', 'casablanca')
survey_raw['location'] = survey_raw['location'].str.replace('casablancaablanca', 'casablanca')
survey_raw['location'] = survey_raw['location'].str.replace(',', '')
survey_raw['location'] = survey_raw['location'].str.replace('-', '')
survey_raw['location'] = survey_raw['location'].str.replace('dallaslaslas', 'dallas')
survey_raw['location'] = survey_raw['location'].str.replace('dallaslas', 'dallas')
survey_raw['location'] = survey_raw['location'].str.replace('á', 'a')
survey_raw['location'] = survey_raw['location'].str.replace('ã', 'a')
survey_raw['location'] = survey_raw['location'].str.replace('ü', 'u')
survey_raw['location'] = survey_raw['location'].str.replace(' india', '')
survey_raw['location'] = survey_raw['location'].str.replace(' south africa', '')
survey_raw['location'] = survey_raw['location'].str.replace(' morocco', '')
survey_raw['location'] = survey_raw['location'].str.replace('gurgaon', 'gurugram')
survey_raw['location'] = survey_raw['location'].str.replace('gurugaon', 'gurugram')
survey_raw['location'] = survey_raw['location'].str.replace('bangalore', 'bengaluru')
survey_raw['location'] = survey_raw['location'].str.replace('  bek', '')
survey_raw['location'] = survey_raw['location'].str.replace('bek', 'bengaluru')
survey_raw['location'] = survey_raw['location'].str.replace('santaigo', 'santiago')
survey_raw['location'] = survey_raw['location'].str.replace(' brazil', '')
survey_raw['location'] = survey_raw['location'].str.replace(' city', '')
survey_raw['location'] = survey_raw['location'].str.replace('sfo', 'san francisco')
survey_raw['location'] = survey_raw['location'].str.replace('was', 'washington dc')
survey_raw['location'] = survey_raw['location'].str.replace('dchington dc', 'dc')
survey_raw['location'] = survey_raw['location'].str.replace('saettle', 'seattle')
survey_raw['location'] = survey_raw['location'].str.replace('colgone', 'cologne')
survey_raw['location'] = survey_raw['location'].str.replace('los angeles', 'temp')
survey_raw['location'] = survey_raw['location'].str.replace('manhattan beach', 'temp')
survey_raw['location'] = survey_raw['location'].str.replace('nyc', 'new york')
survey_raw['location'] = survey_raw['location'].str.replace('sdasd', 'madrid')
survey_raw['location'] = survey_raw['location'].str.replace('temp', 'manhattan beach & la')
survey_raw['location'] = survey_raw['location'].str.strip()

In [482]:
unique_locations = survey_raw['location'].unique()
unique_locations.sort()
unique_locations

array(['amsterdam', 'atlanta', 'austin', 'barcelona', 'bengaluru',
       'berlin', 'bogota', 'boston', 'brooklyn', 'brussels', 'casablanca',
       'chicago', 'cologne', 'copenhagen', 'dallas', 'delhi', 'denver',
       'dusseldorf', 'frankfurt', 'gurugram', 'helsinki', 'houston',
       'india', 'johannesburg', 'london', 'madrid',
       'manhattan beach & la', 'melbourne', 'miami', 'milan', 'mumbai',
       'munich', 'new delhi', 'new jersey', 'new york', 'oslo', 'paris',
       'perth', 'pittsburgh', 'rio de janeiro', 'san deigo',
       'san francisco', 'santiago', 'sao paulo', 'seattle', 'seoul',
       'shanghai', 'shenzhen', 'silicon valley', 'singapore', 'stockholm',
       'sydney', 'tokyo', 'toronto', 'vienna', 'warsaw', 'washington dc',
       'zurich'], dtype=object)

# General counts

In [483]:
survey_raw['doing-talk-clean'] =  survey_raw['doing-talk'] ==  'Yes'
survey_raw['doing-talk-clean'] = np.where(survey_raw['doing-talk-clean'] == False, np.nan, survey_raw['doing-talk-clean'])
#survey_raw[['doing-talk-clean', 'doing-talk'] ] 
office_counts = survey_raw.groupby('location').count()[['name', 'doing-talk-clean']]

In [484]:
combined = office_counts.join(travel.set_index('location'), how='left')
combined.columns = ['total_registered', 'total_doing_talk', 'destination', 'total_people', 'estimated_travel', 'is_host']

In [485]:
combined[combined['is_host'] == True].reset_index()

,location,total_registered,total_doing_talk,destination,total_people,estimated_travel,is_host
0,barcelona,8,0,barcelona,27.0,0,True
1,bengaluru,24,2,bengaluru,140.0,0,True
2,berlin,25,7,berlin,51.0,0,True
3,bogota,10,0,bogota,20.0,0,True
4,boston,34,3,boston,97.0,0,True
5,casablanca,13,6,casablanca,43.0,0,True
6,chicago,33,2,chicago,68.0,0,True
7,dallas,4,0,dallas,13.0,0,True
8,frankfurt,5,1,frankfurt,19.0,0,True
9,gurugram,36,5,gurugram,169.0,0,True
10,london,30,6,london,85.0,0,True
11,madrid,27,3,madrid,54.0,0,True
12,milan,15,1,milan,23.0,0,True
13,munich,10,2,munich,39.0,0,True
14,new york,26,2,new york,122.0,0,True
15,paris,21,1,paris,93.0,0,True
16,perth,9,2,perth,17.0,0,True
17,san francisco,17,3,san francisco,33.0,0,True
18,santiago,11,0,santiago,13.0,0,True
19,sao paulo,24,1,sao paulo,36.0,0,True
20,seattle,10,1,seattle,29.0,0,True
21,shanghai,1,1,shanghai,13.0,0,True
22,singapore,24,5,singapore,33.0,0,True
23,stockholm,8,0,stockholm,20.0,0,True
24,sydney,15,4,sydney,29.0,0,True
25,tokyo,7,1,tokyo,43.0,0,True
26,toronto,10,0,toronto,26.0,0,True
27,washington dc,6,1,washington dc,17.0,0,True
28,zurich,7,0,zurich,17.0,0,True

In [486]:
combined.to_csv("data/extracted_registrations.csv")

# Travellers list

In [487]:
travel_subset = travel[travel['total_people'] > 1]
merged_with_travel = pd.merge(survey_raw,travel_subset,how='left',left_on='location',right_on='location')
small_office_travellers = merged_with_travel[merged_with_travel['is_host'] == False].copy()

In [488]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

small_office_travellers['estimated_travel_plus_perc'] = small_office_travellers['estimated_travel'] * 1.30
small_office_travellers[['name', 'role', 'lob', 'location', 'destination', 'estimated_travel_plus_perc', 'doing-talk-clean', 'travel_notes', 'other']]

,name,role,lob,location,destination,estimated_travel_plus_perc,doing-talk-clean,travel_notes,other
0,Eivind Strøm,Data Scientist,X AI & Software,oslo,stockholm,364.0,NaN,NaN,.
1,Valentina Jarovaja,Data & Analytics Lead,X Delivery,dusseldorf,frankfurt,546.0,NaN,NaN,NaN
3,Marion Nöske,Senior Director Data & Analytics - X Delivery,X Delivery,dusseldorf,frankfurt,546.0,NaN,NaN,thank you for organizing!
5,Michael Logen,Data & Analytics Lead,X Delivery,dusseldorf,frankfurt,546.0,NaN,NaN,-
19,Martin Schleicher,Data & Analytics Lead – X Delivery,X Delivery,dusseldorf,frankfurt,546.0,NaN,NaN,Don't make optional questions mandatory.
24,Otto Saikkonen,Senior Data Scientist,X AI & Software,helsinki,stockholm,403.0,NaN,NaN,No
31,Dante Cicco,Senior Engineer,X AI & Software,pittsburgh,washington dc,911.3,NaN,No,Nope!
35,Jo Saakvitne,Lead Data Scientist,X AI & Software,oslo,stockholm,364.0,NaN,No,No
39,Petter Moen,Senior Data Scientist,X AI & Software,oslo,stockholm,364.0,NaN,NaN,NaN
42,Valentina Jarovaja,Data & Analytics Lead,X Delivery,dusseldorf,frankfurt,546.0,NaN,NaN,I would like to have enough time to collaborat...
85,Shobhit Mittal,Data Scientist,X AI & Software,new delhi,gurugram,52.0,NaN,NaN,NaN
88,Daniel Chernowitz,Senior Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,NaN,NaN
89,Santhosh Ganesh,Lead Engineer,X AI & Software,atlanta,dallas,624.0,NaN,NaN,NaN
92,Yitping Kok,Engineer,X AI & Software,melbourne,sydney,455.0,NaN,NaN,No
99,Matt Birch,LDS,X AI & Software,melbourne,sydney,455.0,NaN,NaN,NaN
112,Heidi He,Data Scientist,X AI & Software,melbourne,sydney,455.0,NaN,I will be working with the client in Perth. Ca...,story from business partners and industry trend
117,Saurabh Mahajan,AI Engineer,X AI & Software,denver,seattle,624.0,NaN,NaN,Can you send a broad categories and informatio...
118,chernowitz daniel,Senior Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,no,nope
119,Sarah Nadaud,Data Scientist,X AI & Software,rio de janeiro,sao paulo,247.0,NaN,NaN,NaN
122,Santhosh Ganesh,Lead Engineer,X AI & Software,atlanta,dallas,624.0,1.0,Not for now,Kent Vasko for WIE topic; I will be collaborat...
137,RITIN KHANGAROT,Partner & AD,X AI & Software,austin,dallas,728.0,NaN,NaN,NaN
139,James Calvert,Senior Data Scientist,X AI & Software,melbourne,sydney,455.0,NaN,No,No
141,Ben Ong,Data scientist,X AI & Software,melbourne,sydney,455.0,NaN,NaN,I dont want to present a full presentation - b...
142,Joy Horng,Data scientist,X AI & Software,melbourne,sydney,455.0,NaN,No,No
147,Vivek Kant,Partner & VP - Engineering,X AI & Software,mumbai,bengaluru,312.0,NaN,NaN,NaN
148,Vivek Kant,Partner & VP - Engineering,X AI & Software,mumbai,bengaluru,312.0,NaN,No,None
156,Loic Vanderkelen,Data scientist,X AI & Software,brussels,london,1066.0,NaN,No,Nothing specific
157,Johan Buch-Hansen,Senior Data Scientist,X AI & Software,copenhagen,stockholm,403.0,NaN,"Yes, travel should be allowed!",Im excited!
158,Timm Walz,AI Engineer,X AI & Software,copenhagen,stockholm,403.0,NaN,NaN,-
159,Luca Cambiaghi,Data Scientist,X AI & Software,copenhagen,stockholm,403.0,NaN,NaN,No
170,David Erdreich,Senior Data Engineering Manager,X Delivery,new jersey,new york,65.0,NaN,no,no
171,Jeffrey Senn,VP Engineering,X AI & Software,pittsburgh,washington dc,911.3,NaN,No. (However I will probably travel on case b...,NaN
181,Patrick Mueller2,Principle DataScience,X AI & Software,cologne,berlin,546.0,NaN,NaN,-
182,Alex Llobet Martinez-Pons,GenAI,X AI & Software,brussels,london,1066.0,NaN,No,None
183,Nicholas Hanoian,Data Scientist,X AI & Software,denver,seattle,624.0,NaN,NaN,NaN
184,Billy Cruz,BCG X Principal Engineer,X AI & Software,miami,dallas,923.0,NaN,MIA events conflicting with Hive,Thinking about forming a day in the life princ...
194,Anthony Wang,Senior Data Scientist,X AI & Software,cologne,berlin,546.0,NaN,No,"If it is possible, I'd like to attend Hive Day..."
200,Armand Margerin,Data Scientist,X AI & Software,brussels,london,1066.0,NaN,NaN,No
210,Jannick Seelen,Senior AI Engineering,X AI & Software,vienna,munich,780.0,NaN,No,No
212,joohye lim,Senior Data Scientist,X AI & Software,seoul,tokyo,689.0,NaN,no,would be great to have detailed agenda ahead
213,Seongbong Kim,Principal-Data Science,X AI & Software,seoul,tokyo,689.0,1.0,NaN,NaN
214,Wonhee Lee,Sr. Data Scientist,X AI & Software,seoul,tokyo,689.0,NaN,No,NaN
215,Abdrakhmanova Nelly,Data Scientist,X AI & Software,helsinki,stockholm,403.0,1.0,NaN,NaN
222,Abhay Vatsa,Senior Engineer,X Ventures,austin,dallas,728.0,1.0,I am likely going to be in NYC for a case co-l...,thank you!
223,Rasmus Bjoern,SDS,X AI & Software,copenhagen,stockholm,403.0,NaN,NaN,Great initiative
226,Max Snijders,LDS,X AI & Software,amsterdam,paris,741.0,NaN,NaN,-
227,Mathijs de Jong,Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,No,"Thanks a lot of organising this event, I am ve..."
228,Reinier de Bruin,Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,-,-
229,Estelle Altazin,Lead Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,no,no
230,Daniel de Araujo Pereira,Senior Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,NaN,NaN
232,Siqi Yuan,Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,I might be relocating at Tokyo office for a ca...,no for now
233,Carel Schwartzenberg,Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,No,-
237,Theresa Gattermann-Itschert,Senior Data Scientist,X AI & Software,cologne,berlin,546.0,NaN,NaN,let me know if not enough talks
240,David Erdreich,Senior Data Engineering Manager,X Delivery,new jersey,new york,65.0,NaN,NaN,NaN
244,Purnima Aggarwal,Lead data analyst,X Delivery,new delhi,gurugram,52.0,NaN,No,No
249,Amar Patel,Product Management Director,X Delivery,austin,dallas,728.0,NaN,No,no
255,Jason He,Senior Delivery Analyst,X Delivery,shenzhen,shanghai,936.0,1.0,No,No
256,Wan Chao,Senior Software Engineer,X Delivery,shenzhen,shanghai,936.0,NaN,NaN,NaN
257,Wan Chao,Senior Software Engineer,X Delivery,shenzhen,shanghai,936.0,NaN,No. I could travel.,No
264,Pim Hoeven,Senior Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,No,No
272,Brian Norris,Lead engineer,X AI & Software,miami,dallas,923.0,NaN,No,I can’t think of anything at the moment
276,Roman Soldatenkov,"Senior Software Engineer, DevOps",X Delivery,warsaw,berlin,663.0,NaN,NaN,Nope
285,Calvin Schmidt,Senior Data Scientist,X AI & Software,houston,dallas,728.0,NaN,NaN,NaN
297,Oliver Hof,Technical Delivery Sr. Manager,X Delivery,warsaw,berlin,663.0,NaN,No,"I am not quite sure how the LOB Rep will work,..."
301,Przemyslaw Morski,Lead Data Scientist,X AI & Software,warsaw,berlin,663.0,NaN,NaN,NaN
305,Andrew Jarratt,Principal Engineer,X AI & Software,denver,seattle,624.0,NaN,No - however I will travel on case budget so s...,Nope
309,Wan Chao,Senior Software Engineer,X Delivery,shenzhen,shanghai,936.0,NaN,NaN,NaN
320,Myles Onosko,Senior Engineer,X AI & Software,brooklyn,new york,13.0,NaN,NaN,:)
321,Aparajita Sengupta,Senior Software Engineer,X Delivery,brooklyn,new york,13.0,NaN,NaN,NaN
326,Benjamin Stevenson,Senior Solution Business Director,X Delivery,copenhagen,stockholm,403.0,1.0,None,We have a few folks on my team (myself include...
331,Torben Deuker,Lead Analyst,X Delivery,dusseldorf,frankfurt,546.0,NaN,NaN,-
332,Jonas Arenz,Analyst,X Delivery,dusseldorf,frankfurt,546.0,NaN,NaN,Not so far
345,Dian,Data Scientist,X AI & Software,houston,dallas,728.0,1.0,nope,NaN
346,Calvin Schmidt,Senior Data Scientist,X AI & Software,houston,dallas,728.0,NaN,I will be in the WAS office since I am on a cl...,None
408,Maria Diniz,Software Engineer,X Delivery,rio de janeiro,sao paulo,247.0,NaN,No,Not for now
410,Soumyodeep Mukherjee,Lead Engineer,X AI & Software,new jersey,new york,65.0,NaN,NaN,"I can travel on case budget, since our case te..."
415,Jing Ke,Lead data scientist,X AI & Software,silicon valley,san francisco,26.0,NaN,NaN,None
416,Saurabh Mahajan,AI Engineer,X AI & Software,denver,seattle,624.0,NaN,NaN,-
421,Patrick Mueller2,Principle DataScience,X AI & Software,cologne,berlin,546.0,NaN,NaN,-
423,Julian Bell,Analyst,X Delivery,dusseldorf,frankfurt,546.0,NaN,NaN,Looking forward
436,Michael Yang,Data Scientist,X AI & Software,johannesburg,paris,2717.0,NaN,No,I'm awaiting further travel guidelines and am ...
437,Darryn Williams,Senior data scientist,X AI & Software,johannesburg,paris,2717.0,NaN,Visa application,None
439,Michael Brent,Solutions Delivery Senior Manager,X Delivery,denver,seattle,624.0,1.0,NaN,I'll need to esure that I can travel (for fami...
442,Brian Norris,Lead Engineer,X AI & Software,miami,dallas,923.0,NaN,NaN,NaN
443,Brian Norris,Lead Engineer,X AI & Software,miami,dallas,923.0,NaN,"No, i can travel under current casework (coloc...",no
446,Amanda Aschenbrenner,Principal - Engineering,X AI & Software,denver,seattle,624.0,NaN,NaN,NaN
454,Ben ong,Data scientist,X AI & Software,melbourne,sydney,455.0,NaN,NaN,N/a
467,Ricardo D'Amico,Senior Data Scientist,X AI & Software,melbourne,sydney,455.0,NaN,NaN,NaN
468,Yitping kok,Engineer,X AI & Software,melbourne,sydney,455.0,NaN,NaN,NaN
470,Max Wang,LDS,X AI & Software,melbourne,sydney,455.0,NaN,NaN,NaN
471,Ricardo D'Amico,Senior Data Scientist,X AI & Software,melbourne,sydney,455.0,NaN,no,no
476,Sarah Belet,Data Scientist,X AI & Software,melbourne,sydney,455.0,NaN,No,NaN
478,Siqi Yuan,Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,NaN,nothing in particular
479,Przemyslaw Morski,Lead Data Scientist,X AI & Software,warsaw,berlin,663.0,NaN,NaN,NaN
487,Magdalena Krupa,Lead Data Scientist,X AI & Software,warsaw,berlin,663.0,NaN,No,No
501,Ankit Mishra,Software Engineer,X Delivery,new delhi,gurugram,52.0,NaN,NaN,NaN
503,Ankit Mishra,Software Engineer,X Delivery,new delhi,gurugram,52.0,NaN,NaN,No
524,Halvor Reiten,Data Scientist,X AI & Software,oslo,stockholm,364.0,NaN,NaN,No
537,Lydia Yu,AI Engineer,X AI & Software,brooklyn,new york,13.0,NaN,NaN,Would love to help out volunteering for the DC...
539,Bruno Mühlmann Holanda,Data Scientist,X AI & Software,rio de janeiro,sao paulo,247.0,NaN,No,No
540,Yitping Kok,Engineer,X AI & Software,melbourne,sydney,455.0,NaN,NaN,No
547,Tom Sandeman,Principal,X AI & Software,melbourne,sydney,455.0,1.0,Potentially client requirements,NaN
552,Heidi He,Data Scientist,X AI & Software,melbourne,sydney,455.0,NaN,NaN,NaN
570,Michael Boselowitz,Principle Software Design Engineer,X AI & Software,pittsburgh,washington dc,911.3,NaN,No,NaN
574,Lee Yeonkyung,Senior data scientist,X AI & Software,seoul,tokyo,689.0,NaN,No,.
583,Stuart Roth,Engineering Principle,X AI & Software,pittsburgh,washington dc,911.3,NaN,NaN,"Based in Pittsburgh, but will be in DC anyway ..."
589,Amanda Aschenbrenner,Principal - Engineering,X AI & Software,denver,seattle,624.0,1.0,NaN,NaN

# Host office representation

In [489]:
lob_counts = merged_with_travel.groupby(['destination', 'lob']).count()['name'].reset_index()
lob_counts_pivoted = pd.pivot(lob_counts, columns=['lob'], index=['destination'])['name'][['X AI & Software', 'X Delivery', 'X Ventures']]

In [490]:
lob_counts_pivoted

lob            X AI & Software  X Delivery  X Ventures
destination
barcelona                  4.0         4.0         NaN
bengaluru                  3.0        23.0         NaN
berlin                    11.0         2.0        20.0
bogota                     1.0         9.0         NaN
boston                    17.0        17.0         NaN
casablanca                 1.0        11.0         1.0
chicago                   10.0        22.0         1.0
dallas                    14.0         1.0         1.0
frankfurt                  2.0        11.0         NaN
gurugram                   2.0        38.0         NaN
london                    15.0         5.0        11.0
madrid                    12.0        15.0         NaN
milan                     15.0         NaN         NaN
munich                     7.0         4.0         NaN
new york                  28.0         3.0         NaN
paris                     33.0         NaN         NaN
perth                      7.0         2.0         NaN
san francisco             17.0         1.0         NaN
santiago                  11.0         NaN         NaN
sao paulo                  8.0        19.0         NaN
seattle                   12.0         5.0         NaN
shanghai                   1.0         4.0         NaN
singapore                 14.0         NaN        10.0
stockholm                 18.0         1.0         NaN
sydney                    27.0         NaN         3.0
tokyo                      7.0         NaN         4.0
toronto                    6.0         4.0         NaN
washington dc             10.0         NaN         NaN
zurich                     7.0         NaN         NaN

In [491]:
lob_rep_plan = pd.read_excel('lob_rep_plan.xlsx') 
lob_rep_plan['Missing LOB'] = lob_rep_plan['Missing LOB'].str.split(',')
lob_rep_plan = lob_rep_plan.explode(['Missing LOB'])

# LOB reps

In [492]:
lob_reps = survey_raw[(~survey_raw['lob_rep_interest'].isna()) & (survey_raw['lob_rep_interest'] != 'None of the above')]

In [493]:
lob_reps.to_csv("data/extracted_lob_reps.csv")

### AI & software

In [494]:
lob_counts_pivoted[lob_counts_pivoted['X AI & Software'].isna()]

Empty DataFrame
Columns: [X AI & Software, X Delivery, X Ventures]
Index: []

In [495]:
lob_reps[lob_reps['lob'] == 'X AI & Software'].dropna(subset=['lob_rep_reason'])

,name,lob,role,location,attending,9 (Q9),12 (Q12_1),12 (Q12_2),12 (Q12_3),12 (Q12_4),12 (Q12_5),12 (Q12_6),12 (Q12_7),12 (Q12SPECIFIED_6),travel_notes,doing-talk,talk-title,talk-description,18 (Q18),lob_rep_interest,20 (Q20),21 (Q21),23 (Q23),lob_rep_reason,25 (Q25_1),26 (Q26_1),topics,other,Started,Completed,Branched Out,Over Quota,Last Modified,doing-talk-clean
Record ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
638295193090591825,Guillem Borrell Nogueras,X AI & Software,Lead AI Engineer,madrid,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,Yes,All you need is Duckdb,Duckdb is a relatively new high-performance qu...,45 minutes,I am interested in being LOB representative in...,NaN,No,NaN,I've been teaching technical stuff to DS and S...,NaN,NaN,Anything that is interesting and not about GenAI,"Please, don't make it only about GenAI",2023-09-05 14:01:49,2023-09-05 14:13:08,NaN,NaN,2023-09-05 14:13:08,1.0
638298051723847524,Archit Matta,X AI & Software,Data Scientist,new york,Yes,No,-,-,-,-,-,"Others ( please specify, including allergies)",-,No Beef,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,Yes,NaN,I'm super excited and have tried to contribute...,NaN,NaN,I'd be interested in knowing about more networ...,I would also be super interested in helping pl...,2023-09-08 21:26:12,2023-09-08 21:34:28,NaN,NaN,2023-09-08 21:34:28,NaN
638301162078151552,Abby Gong,X AI & Software,Senior Data Scientist,boston,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,Yes,MedTech supply chain AI capabilities,The application of supply chain AI capabilitie...,15 minutes,I am interested in being LOB representative in...,NaN,No,NaN,"I’m from AI&Software, but I have done multiple...",NaN,NaN,"Future one BCGx offering, collaborative ways o...",would like to hear the envision from org team ...,2023-09-12 11:50:07,2023-09-12 12:01:12,NaN,NaN,2023-09-12 19:37:38,1.0
638301202864066433,Kamal Darchini,X AI & Software,Lead data scientist,toronto,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,No,NaN,I have been in this LOB for 3+ years and have ...,NaN,NaN,Hands on GenAI,Thanks for organizing!,2023-09-12 12:58:06,2023-09-12 13:11:28,NaN,NaN,2023-09-12 13:11:28,NaN
638301255487576553,Saurabh Mahajan,X AI & Software,AI Engineer,denver,Yes,Yes,-,Vegetarian,-,-,-,-,-,NaN,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,No,NaN,Denver office has a very small presence of gam...,NaN,NaN,-,Can you send a broad categories and informatio...,2023-09-12 14:25:48,2023-09-12 14:40:44,NaN,NaN,2023-09-12 14:40:44,NaN
638312276035642564,Olga Kotova,X AI & Software,Data Scientist,london,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,Yes,Transforming Drug Discovery workflow using AI/...,Global Biopharma company was looking to accele...,30 minutes,I am interested in being LOB representative in...,NaN,No,NaN,I have strong public speaking skills emerging ...,NaN,NaN,Generative algorithms and language models,-,2023-09-25 08:33:23,2023-09-25 08:45:57,NaN,NaN,2023-09-25 08:45:57,1.0
638315193987323543,Kaoru Schwarzenegger,X AI & Software,Data Scientist,tokyo,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,No,NaN,Since I have a wide field of interest apart fr...,NaN,NaN,Different perspectives from other LOBs and ide...,Will likely not be able to block the whole day...,2023-09-28 17:36:38,2023-09-28 17:43:25,NaN,NaN,2023-09-28 17:43:25,NaN
638315202876045630,Adam Benali,X AI & Software,AI Engineer,stockholm,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,No,NaN,"We pretty much only have one LOB in Stockholm,...",NaN,NaN,-,-,2023-09-28 17:51:27,2023-09-28 17:57:33,NaN,NaN,2023-09-28 17:57:33,NaN
638315430336436294,Dave Rattan,X AI & Software,AI Engineer,sydney,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,Yes,How to move a legacy system to a modern and su...,Legacy systems are deeply routed in large orga...,30 minutes,I am interested in being LOB representative in...,NaN,No,NaN,Working across X.Ventures stream (end to end) ...,NaN,NaN,Ops and infrastructure as code implementation,N/a,2023-09-29 00:10:33,2023-09-29 00:26:11,NaN,NaN,2023-09-29 00:26:11,1.0

### X Delivery

In [496]:
lob_counts_pivoted[lob_counts_pivoted['X Delivery'].isna()]

lob            X AI & Software  X Delivery  X Ventures
destination
milan                     15.0         NaN         NaN
paris                     33.0         NaN         NaN
santiago                  11.0         NaN         NaN
singapore                 14.0         NaN        10.0
sydney                    27.0         NaN         3.0
tokyo                      7.0         NaN         4.0
washington dc             10.0         NaN         NaN
zurich                     7.0         NaN         NaN

In [497]:
len(lob_counts_pivoted[lob_counts_pivoted['X Delivery'].isna()].index)

8

In [498]:
lob_reps[lob_reps['lob'] == 'X Delivery'].dropna(subset=['lob_rep_reason'])

,name,lob,role,location,attending,9 (Q9),12 (Q12_1),12 (Q12_2),12 (Q12_3),12 (Q12_4),12 (Q12_5),12 (Q12_6),12 (Q12_7),12 (Q12SPECIFIED_6),travel_notes,doing-talk,talk-title,talk-description,18 (Q18),lob_rep_interest,20 (Q20),21 (Q21),23 (Q23),lob_rep_reason,25 (Q25_1),26 (Q26_1),topics,other,Started,Completed,Branched Out,Over Quota,Last Modified,doing-talk-clean
Record ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
638298890718873054,Amine Benaddi,X Delivery,Engineering Lead,casablanca,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,Yes,Leveraging typescript for micro service,"Trpc, turbo, nodejs",30 minutes,I am interested in being LOB representative in...,NaN,No,NaN,Interesting topic for next projects,NaN,NaN,Architectures leveraged in other cases,"Comparing Astro, Nextjs, fresh, blitzjs, etc",2023-09-09 20:44:31,2023-09-09 20:49:39,NaN,NaN,2023-09-09 20:49:39,1.0
638307984685797820,Panagiota Papakosta,X Delivery,Senior Analyst,munich,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,Yes,GeoAnalytics to accelerate Climate & Sustainab...,what is understood by the science of where and...,15 minutes,I am interested in being LOB representative in...,NaN,Yes,NaN,happy to represent LOB in the Munich office,NaN,NaN,other C&S applications,thanks for orga,2023-09-20 09:21:08,2023-09-20 09:27:17,NaN,NaN,2023-09-20 09:27:17,1.0
638309142512518582,Purnima Aggarwal,X Delivery,Lead data analyst,new delhi,Yes,Yes,Vegan,Vegetarian,-,-,-,"Others ( please specify, including allergies)",-,No onion and no garlic,No,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,Yes,NaN,Not sure,NaN,NaN,Outlook,No,2023-09-21 17:30:51,2023-09-21 17:33:52,NaN,NaN,2023-09-21 17:34:01,NaN
638309193066578398,Amar Patel,X Delivery,Product Management Director,austin,Yes,Yes,-,-,-,-,-,-,No dietary restrictions,NaN,No,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,Yes,NaN,I interface across all the areas within the X ...,NaN,NaN,GenAI use cases that we have developed and dep...,no,2023-09-21 18:55:06,2023-09-21 19:00:59,NaN,NaN,2023-09-21 19:00:59,NaN
638309418719094351,Jason He,X Delivery,Senior Delivery Analyst,shenzhen,Yes,Yes,-,-,-,-,-,-,No dietary restrictions,NaN,No,Yes,"OrgBuilder, data-driven organizational redesig...",Showcase and demo on OrgBuilder tool,30 minutes,I am interested in being LOB representative in...,NaN,No,NaN,There are only 2 X Delivery people in Greater ...,NaN,NaN,Sharing (case / tool) from Venture team,No,2023-09-22 01:11:11,2023-09-22 01:20:59,NaN,NaN,2023-09-22 01:20:59,1.0
638312379032342134,Oliver Hof,X Delivery,Technical Delivery Sr. Manager,warsaw,Yes,Yes,-,-,-,-,-,-,-,NaN,No,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,Yes,NaN,Almost 8 years in BCG; have been in the same j...,NaN,NaN,How teams are using AI tools internally. Any r...,"I am not quite sure how the LOB Rep will work,...",2023-09-25 11:25:03,2023-09-25 11:30:19,NaN,NaN,2023-09-25 11:30:19,NaN
638314001137590077,mohd sharique ansari,X Delivery,engineering lead,gurugram,Yes,No,Vegan,Vegetarian,-,-,-,-,-,NaN,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,Yes,NaN,I am part of the most revenue generating produ...,NaN,NaN,"Software Security, Infra modernization techniques",no,2023-09-27 08:28:33,2023-09-27 08:37:48,NaN,NaN,2023-09-27 08:37:48,NaN
638314079246651573,Madhur Mukhi,X Delivery,Engineering Lead,gurugram,Yes,No,-,Vegetarian,-,-,-,-,-,NaN,NaN,Yes,How we brought a legacy product in a Multi ten...,Workspace Manager is a utility to host and man...,15 minutes,I am interested in being LOB representative in...,NaN,Yes,NaN,Yes,NaN,NaN,"Agile , Software development",NaN,2023-09-27 10:38:44,2023-09-27 10:52:54,NaN,NaN,2023-09-27 10:52:54,1.0
638315013930037917,Luísa Lichfett,X Delivery,Software Engineer,sao paulo,Yes,Yes,-,-,-,-,-,-,No dietary restrictions,NaN,Not that I know of,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,No,NaN,I believe that a LOB should have some particul...,NaN,NaN,"GenAI, zero carbon technologies and approaches...",I think it's important for a community like BC...,2023-09-28 12:36:33,2023-09-28 12:47:15,NaN,NaN,2023-09-28 12:47:15,NaN
638315193779847718,Tejas Bala,X Delivery,Senior Analyst,chicago,Yes,No,-,-,-,Lactose intolerant,-,-,-,NaN,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,No,NaN,A Sr. Analyst for > 2 years have had a breadth...,NaN,NaN,Healthcare predictive modelling,Can help organize and develop content/material...,2023-09-28 17:36:17,2023-09-28 17:40:15,NaN,NaN,2023-09-28 17:40:15,NaN
638315198402425451,Nimish Gupta,X Delivery,Data and analytics director,bengaluru,Yes,No,-,Vegetarian,-,-,-,-,-,NaN,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,No,NaN,I have deep understanding of my LOB (Delivery)...,NaN,NaN,Nothing specific,Nothing specific,2023-09-28 17:44:00,2023-09-28 17:47:26,NaN,NaN,2023-09-28 17:47:26,NaN
638315249727464469,Sebastien Wynen,X Delivery,Product Management Lead,london,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,No,NaN,I have been in BCG for 6 years,NaN,NaN,GenAI,No,2023-09-28 19:09:32,2023-09-28 19:12:44,NaN,NaN,2023-09-28 19:12:44,NaN
638315872569601686,Lipi Srivastava,X Delivery,Software Engineer,bengaluru,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,Yes,GenAI,"GenAI use cases: Chatbot, smart pdf and email ...",15 minutes,I am interested in being LOB representative in...,NaN,No,NaN,'--,NaN,NaN,'--,'--,2023-09-29 12:27:36,2023-09-29 12:32:57,NaN,NaN,2023-09-29 12:32:57,1.0
638315943002284580,Sukrit Kurle,X Delivery,Data Engineering Lead,bengaluru,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,No,NaN,I have been a part of the X Delivery Data Engi...,NaN,NaN,No,I will collaborate with Joerg Schneider to pre...,2023-09-29 14:25:00,2023-09-29 14:31:17,NaN,NaN,2023-09-29 14:31:17,NaN
638315943121595054,Deepak Trehan,X Delivery,Data & Analytics Director,boston,Yes,No,Vegan,Vegetarian,-,-,-,-,-,NaN,NaN,Yes,X Delivery A&A,How Delivery team can enable cases and support...,15 minutes,I am interested in being LOB representative in...,NaN,Yes,NaN,Yes,NaN,NaN,GenAI,Majid Alivand,2023-09-29 14:25:12,2023-09-29 14:27:14,NaN,NaN,2023-09-29 14:27:14,1.0
638316005914858606,David Hoyos,X Delivery,Data Analytics Lead,bogota,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,No,NaN,X Delivery Lead that knows how the LOB works a...,NaN,NaN,apart from GPT uses from OpenAI in Gen AI case...,"what are the available topics for talks, becau...",2023-09-29 16:09:51,2023-09-29 17:07:46,NaN,NaN,2023-09-29 17:07:46,NaN
638319304359074261,Amine Benaddi,X Delivery,Engineering Lead,casablanca,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,Yes,frontend frameworks convergences and divergences,"comparison between svelte, solid, qwick, angul...",30 minutes,I am interested in being LOB representative in...,NaN,Yes,NaN,I am actively presenting subjects in our local...,NaN,NaN,"edge functions, edge computations, and other S...",nothing to mention,2023-10-03 11:47:15,2023-10-03 11:51:56,NaN,NaN,2023-10-03 11:51:56,1.0

# Options for LOB Rep X.Delivery

- Amine Benaddi -> Paris or Zurich
- Panagiota Papakosta -> Paris or Zurich or Milan
- Oliver Hof -> Zurich
- David Hoyos -> Santiago
- Deepak Trehan -> Washington DC
- Jason He -> Tokyo
- Sukrit Kurle -> Singapore

In [499]:
travel_cmn_cdg = 330
travel_cmn_zrh = 600 #takes too long vs cdg


travel_muc_cdg = 260
travel_muc_zrh = 450
travel_muc_mxp = 400

travel_waw_zrh = 250

hotel_mxp = 200
hotel_zrh = 200
hotel_cdg = 300


travel_bog_scl = 11000 #7hr flight, lol
hotel_scl = 400 #2 nights required

travel_bos_iad = 200
hotel_iad = 400

travel_szx_tok = 2100
hotel_tok = 300

travel_blr_sin = 2100 #5hr flight
hotel_sin = 600 #2 nights required

total_cmn_cdg = travel_cmn_cdg + hotel_cdg
total_cmn_zrh = travel_cmn_zrh + hotel_zrh

total_muc_cdg = travel_muc_cdg + hotel_cdg
total_muc_zrh = travel_muc_zrh + hotel_zrh
total_muc_mxp = travel_muc_mxp + hotel_mxp

total_scl = travel_bog_scl + hotel_scl
total_iad = travel_bos_iad + hotel_iad
total_tok = travel_szx_tok + hotel_tok
total_sin = travel_blr_sin + hotel_sin
total_waw_zrh = travel_waw_zrh + hotel_zrh


travel_lob_rep_delivery = lob_reps[lob_reps['lob'] == 'X Delivery'].dropna(subset=['lob_rep_reason'])
travel_lob_rep_delivery = travel_lob_rep_delivery.loc[travel_lob_rep_delivery['name'].isin(['Amine Benaddi', 'Panagiota Papakosta', 'Oliver Hof', 'David Hoyos', 'Deepak Trehan', 'Jason He', 'Sukrit Kurle'])]
travel_lob_rep_delivery = travel_lob_rep_delivery.drop_duplicates(subset='name')

travel_lob_rep_delivery.insert(4, 'destination', ['paris', 'milan', 'tokyo', 'zurich', 'singapore', 'washington dc', 'santiago'], True)
travel_lob_rep_delivery.insert(5, 'estimated_travel_plus_perc', [total_cmn_cdg, total_muc_mxp, total_tok, total_waw_zrh, total_sin, total_iad, total_scl], True)


travel_lob_rep_delivery[['name', 'lob', 'role', 'location', 'destination', 'estimated_travel_plus_perc', 'doing-talk-clean', 'travel_notes', 'other', 'lob_rep_reason']]

,name,lob,role,location,destination,estimated_travel_plus_perc,doing-talk-clean,travel_notes,other,lob_rep_reason
Record ID,,,,,,,,,,
638298890718873054,Amine Benaddi,X Delivery,Engineering Lead,casablanca,paris,630,1.0,NaN,"Comparing Astro, Nextjs, fresh, blitzjs, etc",Interesting topic for next projects
638307984685797820,Panagiota Papakosta,X Delivery,Senior Analyst,munich,milan,600,1.0,NaN,thanks for orga,happy to represent LOB in the Munich office
638309418719094351,Jason He,X Delivery,Senior Delivery Analyst,shenzhen,tokyo,2400,1.0,No,No,There are only 2 X Delivery people in Greater ...
638312379032342134,Oliver Hof,X Delivery,Technical Delivery Sr. Manager,warsaw,zurich,450,NaN,No,"I am not quite sure how the LOB Rep will work,...",Almost 8 years in BCG; have been in the same j...
638315943002284580,Sukrit Kurle,X Delivery,Data Engineering Lead,bengaluru,singapore,2700,NaN,NaN,I will collaborate with Joerg Schneider to pre...,I have been a part of the X Delivery Data Engi...
638315943121595054,Deepak Trehan,X Delivery,Data & Analytics Director,boston,washington dc,600,1.0,NaN,Majid Alivand,Yes
638316005914858606,David Hoyos,X Delivery,Data Analytics Lead,bogota,santiago,11400,NaN,NaN,"what are the available topics for talks, becau...",X Delivery Lead that knows how the LOB works a...

# Ventures

In [500]:
lob_counts_pivoted[lob_counts_pivoted['X Ventures'].isna()]

lob            X AI & Software  X Delivery  X Ventures
destination
barcelona                  4.0         4.0         NaN
bengaluru                  3.0        23.0         NaN
bogota                     1.0         9.0         NaN
boston                    17.0        17.0         NaN
frankfurt                  2.0        11.0         NaN
gurugram                   2.0        38.0         NaN
madrid                    12.0        15.0         NaN
milan                     15.0         NaN         NaN
munich                     7.0         4.0         NaN
new york                  28.0         3.0         NaN
paris                     33.0         NaN         NaN
perth                      7.0         2.0         NaN
san francisco             17.0         1.0         NaN
santiago                  11.0         NaN         NaN
sao paulo                  8.0        19.0         NaN
seattle                   12.0         5.0         NaN
shanghai                   1.0         4.0         NaN
stockholm                 18.0         1.0         NaN
toronto                    6.0         4.0         NaN
washington dc             10.0         NaN         NaN
zurich                     7.0         NaN         NaN

In [501]:
len(lob_counts_pivoted[lob_counts_pivoted['X Ventures'].isna()].index)

21

In [502]:
lob_reps[lob_reps['lob'] == 'X Ventures'].dropna(subset=['lob_rep_reason'])

,name,lob,role,location,attending,9 (Q9),12 (Q12_1),12 (Q12_2),12 (Q12_3),12 (Q12_4),12 (Q12_5),12 (Q12_6),12 (Q12_7),12 (Q12SPECIFIED_6),travel_notes,doing-talk,talk-title,talk-description,18 (Q18),lob_rep_interest,20 (Q20),21 (Q21),23 (Q23),lob_rep_reason,25 (Q25_1),26 (Q26_1),topics,other,Started,Completed,Branched Out,Over Quota,Last Modified,doing-talk-clean
Record ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
638301182426033496,Robin Weston,X Ventures,Principal,singapore,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,Yes,Building Gen AI PRODUCTS,Who decided that Gen AI doesn't require and de...,15 minutes,I am interested in being LOB representative in...,NaN,No,NaN,I am going to be in London already visiting fa...,NaN,NaN,Would love to hear about some ventures - I hav...,NaN,2023-09-12 12:24:02,2023-09-12 12:28:14,NaN,NaN,2023-09-12 12:28:14,1.0
638315196919892165,Sebastian Geidies,X Ventures,"Partner & Vice President, Engineering",berlin,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,No,NaN,Long experience with X.Ventures,NaN,NaN,Distributed Computing,NaN,2023-09-28 17:41:31,2023-09-28 17:43:46,NaN,NaN,2023-09-28 17:43:46,NaN
638315201269934155,Astera Schneeweisz,X Ventures,VP of Engineering,berlin,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,No,NaN,"Because i often work in the role of a GM, and ...",NaN,NaN,"Diversity, cultural topics, eng starter projects",not at this time :),2023-09-28 17:48:46,2023-09-28 17:56:42,NaN,NaN,2023-09-28 17:56:42,NaN
638315258771559218,Constantine Karlis,X Ventures,Lead Engineer,berlin,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,Yes,"Privacy, Enterprise and DLT",How we found the right balance of openness and...,30 minutes,I am interested in being LOB representative in...,NaN,No,NaN,I've been at DV/X Ventures for a very long tim...,NaN,NaN,"In general: cats, noodles, synthesisers. Speci...",For the talk I would like to collaborate with ...,2023-09-28 19:24:37,2023-09-28 19:44:53,NaN,NaN,2023-09-28 19:44:53,1.0

# Options for LOB Rep X.Ventures

- Robin Weston -> Shanghai
- Sebastian Geidies, Astera, Constantine -> Munich, Frankfurt, Milan, Zurich or Stockholm

In [503]:
travel_sin_pvg = 1000 #estimate: can't get through travel portal

hotel_pvg = 260

travel_ber_muc_flight = 330
travel_ber_muc_train = 450 #more like 200 on DB directly

travel_ber_fra_flight = 260 
travel_ber_fra_train = 590 #more like 200 on DB directly

travel_ber_mxp = 300
travel_ber_zrh = 420
travel_ber_arn = 200

hotel_muc = 166
hotel_fra = 130
hotel_mxp = 200
hotel_zrh = 200
hotel_arn = 150

total_pvg = travel_sin_pvg + hotel_pvg
total_muc = travel_ber_muc_flight + hotel_muc
total_fra = travel_ber_fra_flight + hotel_fra
total_mxp = travel_ber_mxp + hotel_mxp
total_zrh = travel_ber_zrh + hotel_zrh
total_arn = travel_ber_arn + hotel_arn

travel_lob_rep_ventures = lob_reps[lob_reps['lob'] == 'X Ventures'].dropna(subset=['lob_rep_reason'])


travel_lob_rep_ventures.insert(4, 'destination', ['shanghai', 'munich', 'frankfurt', 'stockholm'], True)
travel_lob_rep_ventures.insert(5, 'estimated_travel_plus_perc', [total_pvg, total_muc, total_fra, total_arn], True)


travel_lob_rep_ventures[['name', 'lob', 'role', 'location', 'destination', 'estimated_travel_plus_perc', 'doing-talk-clean', 'lob_rep_reason']]

,name,lob,role,location,destination,estimated_travel_plus_perc,doing-talk-clean,lob_rep_reason
Record ID,,,,,,,,
638301182426033496,Robin Weston,X Ventures,Principal,singapore,shanghai,1260,1.0,I am going to be in London already visiting fa...
638315196919892165,Sebastian Geidies,X Ventures,"Partner & Vice President, Engineering",berlin,munich,496,NaN,Long experience with X.Ventures
638315201269934155,Astera Schneeweisz,X Ventures,VP of Engineering,berlin,frankfurt,390,NaN,"Because i often work in the role of a GM, and ..."
638315258771559218,Constantine Karlis,X Ventures,Lead Engineer,berlin,stockholm,350,1.0,I've been at DV/X Ventures for a very long tim...

In [81]:
talks = survey_raw[['name', 'location', 'talk-title', 'talk-description', 'doing-talk-clean', 'doing-talk', '18 (Q18) ']]
talks = talks[talks['doing-talk-clean'] == 1]

# Define a dictionary to map cities to regions
city_to_region = {
    'amsterdam': 'EMESA',
    'atlanta': 'NAMR',
    'austin': 'NAMR',
    'barcelona': 'EMESA',
    'bek': 'EMESA',
    'bengaluru': 'APAC',
    'berlin': 'EMESA',
    'bogota': 'NAMR',
    'boston': 'NAMR',
    'brooklyn': 'NAMR',
    'brussels': 'EMESA',
    'casablanca': 'EMESA',
    'chicago': 'NAMR',
    'cologne': 'EMESA',
    'copenhagen': 'EMESA',
    'dallas': 'NAMR',
    'denver': 'NAMR',
    'dusseldorf': 'EMESA',
    'frankfurt': 'EMESA',
    'gurugram': 'APAC',
    'helsinki': 'EMESA',
    'houston': 'NAMR',
    'india': 'APAC',
    'johannesburg': 'EMESA',
    'london': 'EMESA',
    'madrid': 'EMESA',
    'manhattan beach & la': 'NAMR',
    'melbourne': 'APAC',
    'miami': 'NAMR',
    'milan': 'EMESA',
    'mumbai': 'APAC',
    'munich': 'EMESA',
    'new delhi': 'APAC',
    'new jersey': 'NAMR',
    'new york': 'NAMR',
    'nyc': 'NAMR',
    'oslo': 'EMESA',
    'paris': 'EMESA',
    'perth': 'APAC',
    'pittsburgh': 'NAMR',
    'rio de janeiro': 'NAMR',
    'san francisco': 'NAMR',
    'santiago': 'NAMR',
    'sao paulo': 'NAMR',
    'seattle': 'NAMR',
    'seoul': 'APAC',
    'shanghai': 'APAC',
    'shenzhen': 'APAC',
    'silicon valley': 'NAMR',
    'singapore': 'APAC',
    'stockholm': 'EMESA',
    'sydney': 'APAC',
    'tokyo': 'APAC',
    'toronto': 'NAMR',
    'vienna': 'EMESA',
    'warsaw': 'EMESA',
    'washington dc': 'NAMR',
    'zurich': 'EMESA'
}

time_difference_mapping = {
    'amsterdam': '+02:00:00',
    'atlanta': '-04:00:00',
    'austin': '-05:00:00',
    'barcelona': '+02:00:00',
    'bek': '+02:00:00',
    'bengaluru': '+05:30:00',
    'berlin': '+02:00:00',
    'bogota': '-05:00:00',
    'boston': '-04:00:00',
    'brooklyn': '-04:00:00',
    'brussels': '+02:00:00',
    'casablanca': '+01:00:00',
    'chicago': '-05:00:00',
    'cologne': '+02:00:00',
    'copenhagen': '+02:00:00',
    'dallas': '-05:00:00',
    'denver': '-06:00:00',
    'dusseldorf': '+02:00:00',
    'frankfurt': '+02:00:00',
    'gurugram': '+05:30:00',
    'helsinki': '+03:00:00',
    'houston': '-05:00:00',
    'india': '+05:30:00',
    'johannesburg': '+02:00:00',
    'london': '+01:00:00',
    'madrid': '+02:00:00',
    'manhattan beach & la': '-07:00:00',
    'melbourne': '+10:00:00',
    'miami': '-04:00:00',
    'milan': '+02:00:00',
    'mumbai': '+05:30:00',
    'munich': '+02:00:00',
    'new delhi': '+05:30:00',
    'new jersey': '-04:00:00',
    'new york': '-04:00:00',
    'nyc': '-04:00:00',
    'oslo': '+02:00:00',
    'paris': '+02:00:00',
    'perth': '+08:00:00',
    'pittsburgh': '-04:00:00',
    'rio de janeiro': '-03:00:00',
    'san francisco': '-07:00:00',
    'santiago': '-04:00:00',
    'sao paulo': '-03:00:00',
    'seattle': '-07:00:00',
    'seoul': '+09:00:00',
    'shanghai': '+08:00:00',
    'shenzhen': '+08:00:00',
    'silicon valley': '-07:00:00',
    'singapore': '+08:00:00',
    'stockholm': '+02:00:00',
    'sydney': '+10:00:00',
    'tokyo': '+09:00:00',
    'toronto': '-04:00:00',
    'vienna': '+02:00:00',
    'warsaw': '+02:00:00',
    'washington dc': '-04:00:00',
    'zurich': '+02:00:00'
}

talks['region'] = talks['location'].map(city_to_region)
talks['time-diff'] = talks['location'].map(time_difference_mapping)

talks['time-diff'] = pd.to_timedelta(talks['time-diff'])

talks.sort_values(by=['time-diff'])

ValueError: expected hh:mm:ss format

In [76]:
talks = talks.drop_duplicates(subset='name')

In [77]:
talks.groupby('region')['name'].count().reset_index()

  region  name
0   APAC    20
1  EMESA    24
2   NAMR    21

In [71]:
location_counts = talks.groupby(['region', 'location'])['name'].count().reset_index()

location_counts = location_counts.sort_values(by=['region', 'name'], ascending=[True, False])

location_counts.columns = ['Region', 'Location', 'Talk Count']

location_counts

   Region              Location  Talk Count
1    APAC              gurugram           5
7    APAC             singapore           4
8    APAC                sydney           4
0    APAC             bengaluru           2
3    APAC                 perth           2
2    APAC             melbourne           1
4    APAC                 seoul           1
5    APAC              shanghai           1
6    APAC              shenzhen           1
9    APAC                 tokyo           1
10  EMESA                berlin           7
11  EMESA            casablanca           6
15  EMESA                london           6
16  EMESA                madrid           2
18  EMESA                munich           2
12  EMESA            copenhagen           1
13  EMESA             frankfurt           1
14  EMESA              helsinki           1
17  EMESA                 milan           1
19  EMESA                 paris           1
26   NAMR  manhattan beach & la           4
22   NAMR                boston           3
28   NAMR         san francisco           3
23   NAMR               chicago           2
27   NAMR              new york           2
20   NAMR               atlanta           1
21   NAMR                austin           1
24   NAMR                denver           1
25   NAMR               houston           1
29   NAMR             sao paulo           1
30   NAMR               seattle           1
31   NAMR         washington dc           1

In [75]:
from datetime import datetime, timedelta

# Define the start time for each region
start_times = {
    'APAC': datetime.strptime('09:30:00', '%H:%M:%S'),
    'EMESA': datetime.strptime('09:30:00', '%H:%M:%S'),
    'NAMR': datetime.strptime('10:00:00', '%H:%M:%S'),
}

# Define time slots (20 minutes and 40 minutes)
time_slots = [timedelta(minutes=20), timedelta(minutes=40)]

# Define lunch break time range
lunch_break_start = datetime.strptime('12:00:00', '%H:%M:%S')
lunch_break_end = datetime.strptime('14:00:00', '%H:%M:%S')

# Create a DataFrame with talks sorted by region and talk count
talk_schedule = location_counts.sort_values(by=['Region', 'Talk Count'], ascending=[True, False])

# Initialize the schedule with empty slots
schedule = []

# Loop through the regions and generate the schedule
for region, location, talk_count in talk_schedule.itertuples(index=False):
    start_time = start_times[region]
    time_slot_index = 0  # Initialize with the first time slot (20 minutes)

    # Schedule talks in the region
    for _ in range(talk_count):
        # Check if it's time for a lunch break
        if start_time >= lunch_break_start and start_time <= lunch_break_end:
            # Skip the lunch break time
            start_time = lunch_break_end + timedelta(minutes=20)

        # Calculate the end time for the talk
        end_time = start_time + time_slots[time_slot_index]

        # Append the talk to the schedule
        schedule.append((region, location, start_time.strftime('%H:%M'), end_time.strftime('%H:%M')))

        # Toggle between 20-minute and 40-minute time slots
        time_slot_index = 1 - time_slot_index

        # Update the start time for the next talk
        start_time = end_time

# Convert the schedule to a DataFrame for better visualization
schedule_df = pd.DataFrame(schedule, columns=['Region', 'Location', 'Start Time', 'End Time'])
schedule_df

   Region              Location Start Time End Time
0    APAC              gurugram      09:30    09:50
1    APAC              gurugram      09:50    10:30
2    APAC              gurugram      10:30    10:50
3    APAC              gurugram      10:50    11:30
4    APAC              gurugram      11:30    11:50
5    APAC             singapore      09:30    09:50
6    APAC             singapore      09:50    10:30
7    APAC             singapore      10:30    10:50
8    APAC             singapore      10:50    11:30
9    APAC                sydney      09:30    09:50
10   APAC                sydney      09:50    10:30
11   APAC                sydney      10:30    10:50
12   APAC                sydney      10:50    11:30
13   APAC             bengaluru      09:30    09:50
14   APAC             bengaluru      09:50    10:30
15   APAC                 perth      09:30    09:50
16   APAC                 perth      09:50    10:30
17   APAC             melbourne      09:30    09:50
18   APAC                 seoul      09:30    09:50
19   APAC              shanghai      09:30    09:50
20   APAC              shenzhen      09:30    09:50
21   APAC                 tokyo      09:30    09:50
22  EMESA                berlin      09:30    09:50
23  EMESA                berlin      09:50    10:30
24  EMESA                berlin      10:30    10:50
25  EMESA                berlin      10:50    11:30
26  EMESA                berlin      11:30    11:50
27  EMESA                berlin      11:50    12:30
28  EMESA                berlin      14:20    14:40
29  EMESA            casablanca      09:30    09:50
30  EMESA            casablanca      09:50    10:30
31  EMESA            casablanca      10:30    10:50
32  EMESA            casablanca      10:50    11:30
33  EMESA            casablanca      11:30    11:50
34  EMESA            casablanca      11:50    12:30
35  EMESA                london      09:30    09:50
36  EMESA                london      09:50    10:30
37  EMESA                london      10:30    10:50
38  EMESA                london      10:50    11:30
39  EMESA                london      11:30    11:50
40  EMESA                london      11:50    12:30
41  EMESA                madrid      09:30    09:50
42  EMESA                madrid      09:50    10:30
43  EMESA                munich      09:30    09:50
44  EMESA                munich      09:50    10:30
45  EMESA            copenhagen      09:30    09:50
46  EMESA             frankfurt      09:30    09:50
47  EMESA              helsinki      09:30    09:50
48  EMESA                 milan      09:30    09:50
49  EMESA                 paris      09:30    09:50
50   NAMR  manhattan beach & la      10:00    10:20
51   NAMR  manhattan beach & la      10:20    11:00
52   NAMR  manhattan beach & la      11:00    11:20
53   NAMR  manhattan beach & la      11:20    12:00
54   NAMR                boston      10:00    10:20
55   NAMR                boston      10:20    11:00
56   NAMR                boston      11:00    11:20
57   NAMR         san francisco      10:00    10:20
58   NAMR         san francisco      10:20    11:00
59   NAMR         san francisco      11:00    11:20
60   NAMR               chicago      10:00    10:20
61   NAMR               chicago      10:20    11:00
62   NAMR              new york      10:00    10:20
63   NAMR              new york      10:20    11:00
64   NAMR               atlanta      10:00    10:20
65   NAMR                austin      10:00    10:20
66   NAMR                denver      10:00    10:20
67   NAMR               houston      10:00    10:20
68   NAMR             sao paulo      10:00    10:20
69   NAMR               seattle      10:00    10:20
70   NAMR         washington dc      10:00    10:20

# Save all travellers

In [505]:
small_office_travellers['reason_for_travel'] = 'small office'
travel_lob_rep_delivery['reason_for_travel'] = 'represent X Delivery in office with gap'
travel_lob_rep_ventures['reason_for_travel'] = 'represent X Ventures in office with gap'

traveller_columns = ['name', 'role', 'lob', 'location', 'destination', 'estimated_travel_plus_perc', 'doing-talk-clean', 'reason_for_travel']
combined_travellers = pd.concat([
    small_office_travellers[traveller_columns],
    travel_lob_rep_delivery[traveller_columns],
    travel_lob_rep_ventures[traveller_columns]
])

In [506]:
columns_for_duplicates = ['name', 'lob', 'location', 'role']
deduplicated_travellers = combined_travellers.drop_duplicates(subset=columns_for_duplicates, keep='last')

deduplicated_travellers.to_csv("data/extracted_travellers.csv")

In [507]:
deduplicated_merged = merged_with_travel.drop_duplicates(subset=columns_for_duplicates)
replaced_travellers = pd.merge(deduplicated_merged, 
                               deduplicated_travellers[columns_for_duplicates + ['destination']], 
                               how='left', on=columns_for_duplicates).reset_index()

In [508]:
deduplicated_travellers

,name,role,lob,location,destination,estimated_travel_plus_perc,doing-talk-clean,reason_for_travel
0,Eivind Strøm,Data Scientist,X AI & Software,oslo,stockholm,364.0,NaN,small office
3,Marion Nöske,Senior Director Data & Analytics - X Delivery,X Delivery,dusseldorf,frankfurt,546.0,NaN,small office
5,Michael Logen,Data & Analytics Lead,X Delivery,dusseldorf,frankfurt,546.0,NaN,small office
19,Martin Schleicher,Data & Analytics Lead – X Delivery,X Delivery,dusseldorf,frankfurt,546.0,NaN,small office
24,Otto Saikkonen,Senior Data Scientist,X AI & Software,helsinki,stockholm,403.0,NaN,small office
31,Dante Cicco,Senior Engineer,X AI & Software,pittsburgh,washington dc,911.3,NaN,small office
35,Jo Saakvitne,Lead Data Scientist,X AI & Software,oslo,stockholm,364.0,NaN,small office
39,Petter Moen,Senior Data Scientist,X AI & Software,oslo,stockholm,364.0,NaN,small office
42,Valentina Jarovaja,Data & Analytics Lead,X Delivery,dusseldorf,frankfurt,546.0,NaN,small office
85,Shobhit Mittal,Data Scientist,X AI & Software,new delhi,gurugram,52.0,NaN,small office
88,Daniel Chernowitz,Senior Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,small office
99,Matt Birch,LDS,X AI & Software,melbourne,sydney,455.0,NaN,small office
118,chernowitz daniel,Senior Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,small office
119,Sarah Nadaud,Data Scientist,X AI & Software,rio de janeiro,sao paulo,247.0,NaN,small office
122,Santhosh Ganesh,Lead Engineer,X AI & Software,atlanta,dallas,624.0,1.0,small office
137,RITIN KHANGAROT,Partner & AD,X AI & Software,austin,dallas,728.0,NaN,small office
139,James Calvert,Senior Data Scientist,X AI & Software,melbourne,sydney,455.0,NaN,small office
141,Ben Ong,Data scientist,X AI & Software,melbourne,sydney,455.0,NaN,small office
142,Joy Horng,Data scientist,X AI & Software,melbourne,sydney,455.0,NaN,small office
148,Vivek Kant,Partner & VP - Engineering,X AI & Software,mumbai,bengaluru,312.0,NaN,small office
156,Loic Vanderkelen,Data scientist,X AI & Software,brussels,london,1066.0,NaN,small office
157,Johan Buch-Hansen,Senior Data Scientist,X AI & Software,copenhagen,stockholm,403.0,NaN,small office
158,Timm Walz,AI Engineer,X AI & Software,copenhagen,stockholm,403.0,NaN,small office
159,Luca Cambiaghi,Data Scientist,X AI & Software,copenhagen,stockholm,403.0,NaN,small office
171,Jeffrey Senn,VP Engineering,X AI & Software,pittsburgh,washington dc,911.3,NaN,small office
182,Alex Llobet Martinez-Pons,GenAI,X AI & Software,brussels,london,1066.0,NaN,small office
183,Nicholas Hanoian,Data Scientist,X AI & Software,denver,seattle,624.0,NaN,small office
184,Billy Cruz,BCG X Principal Engineer,X AI & Software,miami,dallas,923.0,NaN,small office
194,Anthony Wang,Senior Data Scientist,X AI & Software,cologne,berlin,546.0,NaN,small office
200,Armand Margerin,Data Scientist,X AI & Software,brussels,london,1066.0,NaN,small office
210,Jannick Seelen,Senior AI Engineering,X AI & Software,vienna,munich,780.0,NaN,small office
212,joohye lim,Senior Data Scientist,X AI & Software,seoul,tokyo,689.0,NaN,small office
213,Seongbong Kim,Principal-Data Science,X AI & Software,seoul,tokyo,689.0,1.0,small office
214,Wonhee Lee,Sr. Data Scientist,X AI & Software,seoul,tokyo,689.0,NaN,small office
215,Abdrakhmanova Nelly,Data Scientist,X AI & Software,helsinki,stockholm,403.0,1.0,small office
222,Abhay Vatsa,Senior Engineer,X Ventures,austin,dallas,728.0,1.0,small office
223,Rasmus Bjoern,SDS,X AI & Software,copenhagen,stockholm,403.0,NaN,small office
226,Max Snijders,LDS,X AI & Software,amsterdam,paris,741.0,NaN,small office
227,Mathijs de Jong,Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,small office
228,Reinier de Bruin,Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,small office
229,Estelle Altazin,Lead Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,small office
230,Daniel de Araujo Pereira,Senior Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,small office
233,Carel Schwartzenberg,Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,small office
237,Theresa Gattermann-Itschert,Senior Data Scientist,X AI & Software,cologne,berlin,546.0,NaN,small office
240,David Erdreich,Senior Data Engineering Manager,X Delivery,new jersey,new york,65.0,NaN,small office
244,Purnima Aggarwal,Lead data analyst,X Delivery,new delhi,gurugram,52.0,NaN,small office
249,Amar Patel,Product Management Director,X Delivery,austin,dallas,728.0,NaN,small office
264,Pim Hoeven,Senior Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,small office
272,Brian Norris,Lead engineer,X AI & Software,miami,dallas,923.0,NaN,small office
276,Roman Soldatenkov,"Senior Software Engineer, DevOps",X Delivery,warsaw,berlin,663.0,NaN,small office
305,Andrew Jarratt,Principal Engineer,X AI & Software,denver,seattle,624.0,NaN,small office
309,Wan Chao,Senior Software Engineer,X Delivery,shenzhen,shanghai,936.0,NaN,small office
320,Myles Onosko,Senior Engineer,X AI & Software,brooklyn,new york,13.0,NaN,small office
321,Aparajita Sengupta,Senior Software Engineer,X Delivery,brooklyn,new york,13.0,NaN,small office
326,Benjamin Stevenson,Senior Solution Business Director,X Delivery,copenhagen,stockholm,403.0,1.0,small office
331,Torben Deuker,Lead Analyst,X Delivery,dusseldorf,frankfurt,546.0,NaN,small office
332,Jonas Arenz,Analyst,X Delivery,dusseldorf,frankfurt,546.0,NaN,small office
345,Dian,Data Scientist,X AI & Software,houston,dallas,728.0,1.0,small office
346,Calvin Schmidt,Senior Data Scientist,X AI & Software,houston,dallas,728.0,NaN,small office
408,Maria Diniz,Software Engineer,X Delivery,rio de janeiro,sao paulo,247.0,NaN,small office
410,Soumyodeep Mukherjee,Lead Engineer,X AI & Software,new jersey,new york,65.0,NaN,small office
415,Jing Ke,Lead data scientist,X AI & Software,silicon valley,san francisco,26.0,NaN,small office
416,Saurabh Mahajan,AI Engineer,X AI & Software,denver,seattle,624.0,NaN,small office
421,Patrick Mueller2,Principle DataScience,X AI & Software,cologne,berlin,546.0,NaN,small office
423,Julian Bell,Analyst,X Delivery,dusseldorf,frankfurt,546.0,NaN,small office
436,Michael Yang,Data Scientist,X AI & Software,johannesburg,paris,2717.0,NaN,small office
437,Darryn Williams,Senior data scientist,X AI & Software,johannesburg,paris,2717.0,NaN,small office
439,Michael Brent,Solutions Delivery Senior Manager,X Delivery,denver,seattle,624.0,1.0,small office
443,Brian Norris,Lead Engineer,X AI & Software,miami,dallas,923.0,NaN,small office
454,Ben ong,Data scientist,X AI & Software,melbourne,sydney,455.0,NaN,small office
468,Yitping kok,Engineer,X AI & Software,melbourne,sydney,455.0,NaN,small office
470,Max Wang,LDS,X AI & Software,melbourne,sydney,455.0,NaN,small office
471,Ricardo D'Amico,Senior Data Scientist,X AI & Software,melbourne,sydney,455.0,NaN,small office
476,Sarah Belet,Data Scientist,X AI & Software,melbourne,sydney,455.0,NaN,small office
478,Siqi Yuan,Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,small office
479,Przemyslaw Morski,Lead Data Scientist,X AI & Software,warsaw,berlin,663.0,NaN,small office
487,Magdalena Krupa,Lead Data Scientist,X AI & Software,warsaw,berlin,663.0,NaN,small office
503,Ankit Mishra,Software Engineer,X Delivery,new delhi,gurugram,52.0,NaN,small office
524,Halvor Reiten,Data Scientist,X AI & Software,oslo,stockholm,364.0,NaN,small office
537,Lydia Yu,AI Engineer,X AI & Software,brooklyn,new york,13.0,NaN,small office
539,Bruno Mühlmann Holanda,Data Scientist,X AI & Software,rio de janeiro,sao paulo,247.0,NaN,small office
540,Yitping Kok,Engineer,X AI & Software,melbourne,sydney,455.0,NaN,small office
547,Tom Sandeman,Principal,X AI & Software,melbourne,sydney,455.0,1.0,small office
552,Heidi He,Data Scientist,X AI & Software,melbourne,sydney,455.0,NaN,small office
570,Michael Boselowitz,Principle Software Design Engineer,X AI & Software,pittsburgh,washington dc,911.3,NaN,small office
574,Lee Yeonkyung,Senior data scientist,X AI & Software,seoul,tokyo,689.0,NaN,small office
583,Stuart Roth,Engineering Principle,X AI & Software,pittsburgh,washington dc,911.3,NaN,small office
589,Amanda Aschenbrenner,Principal - Engineering,X AI & Software,denver,seattle,624.0,1.0,small office
638298890718873054,Amine Benaddi,Engineering Lead,X Delivery,casablanca,paris,630,1.0,represent X Delivery in office with gap
638307984685797820,Panagiota Papakosta,Senior Analyst,X Delivery,munich,milan,600,1.0,represent X Delivery in office with gap
638309418719094351,Jason He,Senior Delivery Analyst,X Delivery,shenzhen,tokyo,2400,1.0,represent X Delivery in office with gap
638312379032342134,Oliver Hof,Technical Delivery Sr. Manager,X Delivery,warsaw,zurich,450,NaN,represent X Delivery in office with gap
638315943002284580,Sukrit Kurle,Data Engineering Lead,X Delivery,bengaluru,singapore,2700,NaN,represent X Delivery in office with gap
638315943121595054,Deepak Trehan,Data & Analytics Director,X Delivery,boston,washington dc,600,1.0,represent X Delivery in office with gap
638316005914858606,David Hoyos,Data Analytics Lead,X Delivery,bogota,santiago,11400,NaN,represent X Delivery in office with gap
638301182426033496,Robin Weston,Principal,X Ventures,singapore,shanghai,1260,1.0,represent X Ventures in office with gap
638315196919892165,Sebastian Geidies,"Partner & Vice President, Engineering",X Ventures,berlin,munich,496,NaN,represent X Ventures in office with gap
638315201269934155,Astera Schneeweisz,VP of Engineering,X Ventures,berlin,frankfurt,390,NaN,represent X Ventures in office with gap
638315258771559218,Constantine Karlis,Lead Engineer,X Ventures,berlin,stockholm,350,1.0,represent X Ventures in office with gap

In [509]:
replaced_travellers['destination'] = replaced_travellers['destination_y']
replaced_travellers['destination'] = replaced_travellers['destination'].fillna(replaced_travellers['destination_x'])
replaced_travellers.loc[replaced_travellers["destination"] == 'barcelona', "destination"] = 'madrid'

In [510]:
lob_counts = replaced_travellers.groupby(['destination', 'lob']).count()['name'].reset_index()
lob_counts_pivoted = pd.pivot(lob_counts, columns=['lob'], index=['destination'])['name'][['X AI & Software', 'X Delivery', 'X Ventures']]
lob_counts_pivoted = lob_counts_pivoted.fillna(0)
lob_counts_pivoted['total'] = lob_counts_pivoted['X AI & Software'] + lob_counts_pivoted['X Delivery'] + lob_counts_pivoted['X Ventures']

In [511]:
lob_counts_pivoted

lob            X AI & Software  X Delivery  X Ventures  total
destination
bengaluru                  2.0        18.0         0.0   20.0
berlin                     9.0         1.0        15.0   25.0
bogota                     1.0         8.0         0.0    9.0
boston                    16.0        13.0         0.0   29.0
casablanca                 1.0         9.0         1.0   11.0
chicago                    9.0        16.0         1.0   26.0
dallas                    10.0         1.0         1.0   12.0
frankfurt                  2.0        10.0         1.0   13.0
gurugram                   2.0        32.0         0.0   34.0
london                    14.0         5.0        10.0   29.0
madrid                    14.0        14.0         0.0   28.0
milan                     12.0         1.0         0.0   13.0
munich                     6.0         2.0         1.0    9.0
new york                  23.0         2.0         0.0   25.0
paris                     29.0         1.0         0.0   30.0
perth                      6.0         2.0         0.0    8.0
san francisco             13.0         1.0         0.0   14.0
santiago                  10.0         1.0         0.0   11.0
sao paulo                  7.0        15.0         0.0   22.0
seattle                    9.0         3.0         0.0   12.0
shanghai                   1.0         1.0         1.0    3.0
singapore                 10.0         1.0         7.0   18.0
stockholm                 17.0         1.0         1.0   19.0
sydney                    21.0         0.0         3.0   24.0
tokyo                      7.0         1.0         3.0   11.0
toronto                    6.0         3.0         0.0    9.0
washington dc              8.0         1.0         0.0    9.0
zurich                     6.0         1.0         0.0    7.0