In [1]:
import pandas as pd
import numpy as np

In [3]:
survey_raw = pd.read_excel('survey.xlsx', index_col=0) 
travel_raw = pd.read_excel('travel.xlsx')

/Users/peterslina/Projects/Work/hive-2023/.venv/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
survey_raw.columns = ['name', 'lob', 'role', 'location', 'attending', '9 (Q9) ',
       '12 (Q12_1) ', '12 (Q12_2) ', '12 (Q12_3) ', '12 (Q12_4) ',
       '12 (Q12_5) ', '12 (Q12_6) ', '12 (Q12_7) ', '12 (Q12SPECIFIED_6) ',
       'travel_notes', 'doing-talk', 'talk-title', 'talk-description', '18 (Q18) ',
       'lob_rep_interest', '20 (Q20) ', '21 (Q21) ', '23 (Q23) ', 'lob_rep_reason',
       '25 (Q25_1) ', '26 (Q26_1) ', 'topics', 'other', 'Started',
       'Completed', 'Branched Out', 'Over Quota', 'Last Modified']

In [5]:
travel_raw["is_host"] = travel_raw['Location'] == travel_raw['Travel to']
travel = travel_raw[['Location', 'Travel to', 'People', 'Est total travel pp', 'is_host']].dropna().copy()
travel['People'] = travel['People'].astype(int)
travel.columns = ['location', 'destination', 'total_people', 'estimated_travel', 'is_host']
travel['location'] = travel['location'].str.lower()
travel['destination'] = travel['destination'].str.lower()
travel['location'] = travel['location'].str.replace('washington, d.c.', 'washington dc')
travel['destination'] = travel['destination'].str.replace('washington, d.c.', 'washington dc')
travel['destination'] = travel['destination'].str.replace('ã', 'a')
travel['location'] = travel['location'].str.replace('ã', 'a')

In [6]:
survey_raw = survey_raw[survey_raw['location'].str.len() >1]
survey_raw = survey_raw[survey_raw['attending'] == 'Yes']
survey_raw = survey_raw[survey_raw['location'] != 'dfasd']

In [7]:
#clean locations
survey_raw['location'] = survey_raw['location'].str.lower()
survey_raw['location'] = survey_raw['location'].str.replace('chk - ', '')
survey_raw['location'] = survey_raw['location'].str.replace('acc', '')
survey_raw['location'] = survey_raw['location'].str.replace('dal', 'dallas')
survey_raw['location'] = survey_raw['location'].str.replace('guk', 'gurugram')
survey_raw['location'] = survey_raw['location'].str.replace('bos', 'boston')
survey_raw['location'] = survey_raw['location'].str.replace('bostonton', 'boston')
survey_raw['location'] = survey_raw['location'].str.replace('cas', 'casablanca')
survey_raw['location'] = survey_raw['location'].str.replace('casablancaablanca', 'casablanca')
survey_raw['location'] = survey_raw['location'].str.replace(',', '')
survey_raw['location'] = survey_raw['location'].str.replace('-', '')
survey_raw['location'] = survey_raw['location'].str.replace('dallaslaslas', 'dallas')
survey_raw['location'] = survey_raw['location'].str.replace('dallaslas', 'dallas')
survey_raw['location'] = survey_raw['location'].str.replace('á', 'a')
survey_raw['location'] = survey_raw['location'].str.replace('ã', 'a')
survey_raw['location'] = survey_raw['location'].str.replace('ü', 'u')
survey_raw['location'] = survey_raw['location'].str.replace(' india', '')
survey_raw['location'] = survey_raw['location'].str.replace(' south africa', '')
survey_raw['location'] = survey_raw['location'].str.replace(' morocco', '')
survey_raw['location'] = survey_raw['location'].str.replace('gurgaon', 'gurugram')
survey_raw['location'] = survey_raw['location'].str.replace('gurugaon', 'gurugram')
survey_raw['location'] = survey_raw['location'].str.replace('bangalore', 'bengaluru')
survey_raw['location'] = survey_raw['location'].str.replace('  bek', '')
survey_raw['location'] = survey_raw['location'].str.replace('santaigo', 'santiago')
survey_raw['location'] = survey_raw['location'].str.replace(' brazil', '')
survey_raw['location'] = survey_raw['location'].str.replace(' city', '')
survey_raw['location'] = survey_raw['location'].str.replace('sfo', 'san francisco')
survey_raw['location'] = survey_raw['location'].str.replace('was', 'washington dc')
survey_raw['location'] = survey_raw['location'].str.replace('dchington dc', 'dc')
survey_raw['location'] = survey_raw['location'].str.replace('saettle', 'seattle')
survey_raw['location'] = survey_raw['location'].str.replace('colgone', 'cologne')
survey_raw['location'] = survey_raw['location'].str.replace('los angeles', 'temp')
survey_raw['location'] = survey_raw['location'].str.replace('manhattan beach', 'temp')
survey_raw['location'] = survey_raw['location'].str.replace('temp', 'manhattan beach & la')
survey_raw['location'] = survey_raw['location'].str.strip()

In [8]:
unique_locations = survey_raw['location'].unique()
unique_locations.sort()
unique_locations

array(['amsterdam', 'atlanta', 'austin', 'barcelona', 'bek', 'bengaluru',
       'berlin', 'bogota', 'boston', 'brooklyn', 'brussels', 'casablanca',
       'chicago', 'cologne', 'copenhagen', 'dallas', 'denver',
       'dusseldorf', 'frankfurt', 'gurugram', 'helsinki', 'houston',
       'india', 'johannesburg', 'london', 'madrid',
       'manhattan beach & la', 'melbourne', 'miami', 'milan', 'mumbai',
       'munich', 'new delhi', 'new jersey', 'new york', 'nyc', 'oslo',
       'paris', 'perth', 'pittsburgh', 'rio de janeiro', 'san francisco',
       'santiago', 'sao paulo', 'sdasd', 'seattle', 'seoul', 'shanghai',
       'shenzhen', 'silicon valley', 'singapore', 'stockholm', 'sydney',
       'tokyo', 'toronto', 'vienna', 'warsaw', 'washington dc', 'zurich'],
      dtype=object)

# General counts

In [56]:
survey_raw['doing-talk-clean'] =  survey_raw['doing-talk'] ==  'Yes'
survey_raw['doing-talk-clean'] = np.where(survey_raw['doing-talk-clean'] == False, np.nan, survey_raw['doing-talk-clean'])
#survey_raw[['doing-talk-clean', 'doing-talk'] ] 
office_counts = survey_raw.groupby('location').count()[['name', 'doing-talk-clean']]

In [57]:
combined = office_counts.join(travel.set_index('location'), how='left')
combined.columns = ['total_registered', 'total_doing_talk', 'destination', 'total_people', 'estimated_travel', 'is_host']

In [11]:
combined[combined['is_host'] == True].reset_index()

,location,total_registered,total_doing_talk,destination,total_people,estimated_travel,is_host
0,barcelona,7,0,barcelona,27.0,0,True
1,bengaluru,23,2,bengaluru,140.0,0,True
2,berlin,25,7,berlin,51.0,0,True
3,bogota,10,0,bogota,20.0,0,True
4,boston,34,3,boston,97.0,0,True
5,casablanca,13,6,casablanca,43.0,0,True
6,chicago,33,2,chicago,68.0,0,True
7,dallas,4,0,dallas,13.0,0,True
8,frankfurt,5,1,frankfurt,19.0,0,True
9,gurugram,35,5,gurugram,169.0,0,True
10,london,30,6,london,85.0,0,True
11,madrid,23,2,madrid,54.0,0,True
12,milan,15,1,milan,23.0,0,True
13,munich,10,2,munich,39.0,0,True
14,new york,25,2,new york,122.0,0,True
15,paris,21,1,paris,93.0,0,True
16,perth,9,2,perth,17.0,0,True
17,san francisco,17,3,san francisco,33.0,0,True
18,santiago,11,0,santiago,13.0,0,True
19,sao paulo,24,1,sao paulo,36.0,0,True
20,seattle,10,1,seattle,29.0,0,True
21,shanghai,1,1,shanghai,13.0,0,True
22,singapore,22,4,singapore,33.0,0,True
23,stockholm,8,0,stockholm,20.0,0,True
24,sydney,15,4,sydney,29.0,0,True
25,tokyo,6,1,tokyo,43.0,0,True
26,toronto,10,0,toronto,26.0,0,True
27,washington dc,6,1,washington dc,17.0,0,True
28,zurich,7,0,zurich,17.0,0,True

In [12]:
combined.to_csv("data/extracted_registrations.csv")

# Travellers list

In [13]:
travel_subset = travel[travel['total_people'] > 1]
merged_with_travel = pd.merge(survey_raw,travel_subset,how='left',left_on='location',right_on='location')
small_office_travellers = merged_with_travel[merged_with_travel['is_host'] == False].copy()

In [15]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

small_office_travellers['estimated_travel_plus_perc'] = small_office_travellers['estimated_travel'] * 1.30
small_office_travellers[['name', 'role', 'lob', 'location', 'destination', 'estimated_travel_plus_perc', 'doing-talk-clean', 'travel_notes', 'other']]

,name,role,lob,location,destination,estimated_travel_plus_perc,doing-talk-clean,travel_notes,other
0,Eivind Strøm,Data Scientist,X AI & Software,oslo,stockholm,364.0,NaN,NaN,.
1,Valentina Jarovaja,Data & Analytics Lead,X Delivery,dusseldorf,frankfurt,546.0,NaN,NaN,NaN
3,Marion Nöske,Senior Director Data & Analytics - X Delivery,X Delivery,dusseldorf,frankfurt,546.0,NaN,NaN,thank you for organizing!
5,Michael Logen,Data & Analytics Lead,X Delivery,dusseldorf,frankfurt,546.0,NaN,NaN,-
19,Martin Schleicher,Data & Analytics Lead – X Delivery,X Delivery,dusseldorf,frankfurt,546.0,NaN,NaN,Don't make optional questions mandatory.
24,Otto Saikkonen,Senior Data Scientist,X AI & Software,helsinki,stockholm,403.0,NaN,NaN,No
30,Shon Little,Software Engineering Senior Manager - X Delivery,X Delivery,manhattan beach & la,manhattan beach,0.0,NaN,NaN,No
31,Dante Cicco,Senior Engineer,X AI & Software,pittsburgh,washington dc,911.3,NaN,No,Nope!
35,Jo Saakvitne,Lead Data Scientist,X AI & Software,oslo,stockholm,364.0,NaN,No,No
39,Petter Moen,Senior Data Scientist,X AI & Software,oslo,stockholm,364.0,NaN,NaN,NaN
42,Valentina Jarovaja,Data & Analytics Lead,X Delivery,dusseldorf,frankfurt,546.0,NaN,NaN,I would like to have enough time to collaborat...
85,Shobhit Mittal,Data Scientist,X AI & Software,new delhi,gurugram,52.0,NaN,NaN,NaN
88,Daniel Chernowitz,Senior Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,NaN,NaN
89,Santhosh Ganesh,Lead Engineer,X AI & Software,atlanta,dallas,624.0,NaN,NaN,NaN
92,Yitping Kok,Engineer,X AI & Software,melbourne,sydney,455.0,NaN,NaN,No
99,Matt Birch,LDS,X AI & Software,melbourne,sydney,455.0,NaN,NaN,NaN
112,Heidi He,Data Scientist,X AI & Software,melbourne,sydney,455.0,NaN,I will be working with the client in Perth. Ca...,story from business partners and industry trend
117,Saurabh Mahajan,AI Engineer,X AI & Software,denver,seattle,624.0,NaN,NaN,Can you send a broad categories and informatio...
118,chernowitz daniel,Senior Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,no,nope
119,Sarah Nadaud,Data Scientist,X AI & Software,rio de janeiro,sao paulo,247.0,NaN,NaN,NaN
122,Santhosh Ganesh,Lead Engineer,X AI & Software,atlanta,dallas,624.0,1.0,Not for now,Kent Vasko for WIE topic; I will be collaborat...
123,Shivanshu Naithani,Senior AI Engineer,X AI & Software,manhattan beach & la,manhattan beach,0.0,1.0,NaN,Will collaborate on the talk with Santhosh Gan...
137,RITIN KHANGAROT,Partner & AD,X AI & Software,austin,dallas,728.0,NaN,NaN,NaN
139,James Calvert,Senior Data Scientist,X AI & Software,melbourne,sydney,455.0,NaN,No,No
141,Ben Ong,Data scientist,X AI & Software,melbourne,sydney,455.0,NaN,NaN,I dont want to present a full presentation - b...
142,Joy Horng,Data scientist,X AI & Software,melbourne,sydney,455.0,NaN,No,No
147,Vivek Kant,Partner & VP - Engineering,X AI & Software,mumbai,bengaluru,312.0,NaN,NaN,NaN
148,Vivek Kant,Partner & VP - Engineering,X AI & Software,mumbai,bengaluru,312.0,NaN,No,NaN
156,Loic Vanderkelen,Data scientist,X AI & Software,brussels,london,1066.0,NaN,No,Nothing specific
157,Johan Buch-Hansen,Senior Data Scientist,X AI & Software,copenhagen,stockholm,403.0,NaN,"Yes, travel should be allowed!",Im excited!
158,Timm Walz,AI Engineer,X AI & Software,copenhagen,stockholm,403.0,NaN,NaN,-
159,Luca Cambiaghi,Data Scientist,X AI & Software,copenhagen,stockholm,403.0,NaN,NaN,No
170,David Erdreich,Senior Data Engineering Manager,X Delivery,new jersey,new york,65.0,NaN,no,no
171,Jeffrey Senn,VP Engineering,X AI & Software,pittsburgh,washington dc,911.3,NaN,No. (However I will probably travel on case b...,NaN
181,Patrick Mueller2,Principle DataScience,X AI & Software,cologne,berlin,546.0,NaN,NaN,-
182,Alex Llobet Martinez-Pons,GenAI,X AI & Software,brussels,london,1066.0,NaN,No,NaN
183,Nicholas Hanoian,Data Scientist,X AI & Software,denver,seattle,624.0,NaN,NaN,NaN
184,Billy Cruz,BCG X Principal Engineer,X AI & Software,miami,dallas,923.0,NaN,MIA events conflicting with Hive,Thinking about forming a day in the life princ...
194,Anthony Wang,Senior Data Scientist,X AI & Software,cologne,berlin,546.0,NaN,No,"If it is possible, I'd like to attend Hive Day..."
200,Armand Margerin,Data Scientist,X AI & Software,brussels,london,1066.0,NaN,NaN,No
210,Jannick Seelen,Senior AI Engineering,X AI & Software,vienna,munich,780.0,NaN,No,No
212,joohye lim,Senior Data Scientist,X AI & Software,seoul,tokyo,689.0,NaN,no,would be great to have detailed agenda ahead
213,Seongbong Kim,Principal-Data Science,X AI & Software,seoul,tokyo,689.0,1.0,NaN,NaN
214,Wonhee Lee,Sr. Data Scientist,X AI & Software,seoul,tokyo,689.0,NaN,No,NaN
215,Abdrakhmanova Nelly,Data Scientist,X AI & Software,helsinki,stockholm,403.0,1.0,NaN,NaN
222,Abhay Vatsa,Senior Engineer,X Ventures,austin,dallas,728.0,1.0,I am likely going to be in NYC for a case co-l...,thank you!
223,Rasmus Bjoern,SDS,X AI & Software,copenhagen,stockholm,403.0,NaN,NaN,Great initiative
226,Max Snijders,LDS,X AI & Software,amsterdam,paris,741.0,NaN,NaN,-
227,Mathijs de Jong,Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,No,"Thanks a lot of organising this event, I am ve..."
228,Reinier de Bruin,Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,-,-
229,Estelle Altazin,Lead Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,no,no
230,Daniel de Araujo Pereira,Senior Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,NaN,NaN
232,Siqi Yuan,Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,I might be relocating at Tokyo office for a ca...,no for now
233,Carel Schwartzenberg,Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,No,-
237,Theresa Gattermann-Itschert,Senior Data Scientist,X AI & Software,cologne,berlin,546.0,NaN,NaN,let me know if not enough talks
240,David Erdreich,Senior Data Engineering Manager,X Delivery,new jersey,new york,65.0,NaN,NaN,NaN
244,Purnima Aggarwal,Lead data analyst,X Delivery,new delhi,gurugram,52.0,NaN,No,No
249,Amar Patel,Product Management Director,X Delivery,austin,dallas,728.0,NaN,No,no
255,Jason He,Senior Delivery Analyst,X Delivery,shenzhen,shanghai,936.0,1.0,No,No
256,Wan Chao,Senior Software Engineer,X Delivery,shenzhen,shanghai,936.0,NaN,NaN,NaN
257,Wan Chao,Senior Software Engineer,X Delivery,shenzhen,shanghai,936.0,NaN,No. I could travel.,No
264,Pim Hoeven,Senior Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,No,No
272,Brian Norris,Lead engineer,X AI & Software,miami,dallas,923.0,NaN,No,I can’t think of anything at the moment
276,Roman Soldatenkov,"Senior Software Engineer, DevOps",X Delivery,warsaw,berlin,663.0,NaN,NaN,Nope
285,Calvin Schmidt,Senior Data Scientist,X AI & Software,houston,dallas,728.0,NaN,NaN,NaN
297,Oliver Hof,Technical Delivery Sr. Manager,X Delivery,warsaw,berlin,663.0,NaN,No,"I am not quite sure how the LOB Rep will work,..."
301,Przemyslaw Morski,Lead Data Scientist,X AI & Software,warsaw,berlin,663.0,NaN,NaN,NaN
303,Siva Kannan,"Partner, VP of Engineering",X Ventures,manhattan beach & la,manhattan beach,0.0,NaN,NaN,NaN
304,Siva Kannan,"Partner, VP of Engineering",X Ventures,manhattan beach & la,manhattan beach,0.0,1.0,NaN,Would be happy to help by reviewing other talk...
305,Andrew Jarratt,Principal Engineer,X AI & Software,denver,seattle,624.0,NaN,No - however I will travel on case budget so s...,Nope
309,Wan Chao,Senior Software Engineer,X Delivery,shenzhen,shanghai,936.0,NaN,NaN,NaN
320,Myles Onosko,Senior Engineer,X AI & Software,brooklyn,new york,13.0,NaN,NaN,:)
321,Aparajita Sengupta,Senior Software Engineer,X Delivery,brooklyn,new york,13.0,NaN,NaN,NaN
325,Nalin Mello,Lead Engineer,X Ventures,manhattan beach & la,manhattan beach,0.0,NaN,NaN,"Awesome team, nice work keeping the tradition,..."
326,Benjamin Stevenson,Senior Solution Business Director,X Delivery,copenhagen,stockholm,403.0,1.0,NaN,We have a few folks on my team (myself include...
331,Torben Deuker,Lead Analyst,X Delivery,dusseldorf,frankfurt,546.0,NaN,NaN,-
332,Jonas Arenz,Analyst,X Delivery,dusseldorf,frankfurt,546.0,NaN,NaN,Not so far
345,Dian,Data Scientist,X AI & Software,houston,dallas,728.0,1.0,nope,NaN
346,Calvin Schmidt,Senior Data Scientist,X AI & Software,houston,dallas,728.0,NaN,I will be in the WAS office since I am on a cl...,NaN
347,Tom Berg,Lead Engineer,X Ventures,manhattan beach & la,manhattan beach,0.0,1.0,NaN,-
348,Andy Moon,Sr. AI Engineer,X AI & Software,manhattan beach & la,manhattan beach,0.0,1.0,NaN,Cloud FinOps is very new initiative in the Fab...
408,Maria Diniz,Software Engineer,X Delivery,rio de janeiro,sao paulo,247.0,NaN,No,Not for now
410,Soumyodeep Mukherjee,Lead Engineer,X AI & Software,new jersey,new york,65.0,NaN,NaN,"I can travel on case budget, since our case te..."
415,Jing Ke,Lead data scientist,X AI & Software,silicon valley,san francisco,26.0,NaN,NaN,NaN
416,Saurabh Mahajan,AI Engineer,X AI & Software,denver,seattle,624.0,NaN,NaN,-
421,Patrick Mueller2,Principle DataScience,X AI & Software,cologne,berlin,546.0,NaN,NaN,-
423,Julian Bell,Analyst,X Delivery,dusseldorf,frankfurt,546.0,NaN,NaN,Looking forward
436,Michael Yang,Data Scientist,X AI & Software,johannesburg,paris,2717.0,NaN,No,I'm awaiting further travel guidelines and am ...
437,Darryn Williams,Senior data scientist,X AI & Software,johannesburg,paris,2717.0,NaN,Visa application,NaN
439,Michael Brent,Solutions Delivery Senior Manager,X Delivery,denver,seattle,624.0,1.0,NaN,I'll need to esure that I can travel (for fami...
442,Brian Norris,Lead Engineer,X AI & Software,miami,dallas,923.0,NaN,NaN,NaN
443,Brian Norris,Lead Engineer,X AI & Software,miami,dallas,923.0,NaN,"No, i can travel under current casework (coloc...",no
446,Amanda Aschenbrenner,Principal - Engineering,X AI & Software,denver,seattle,624.0,NaN,NaN,NaN
454,Ben ong,Data scientist,X AI & Software,melbourne,sydney,455.0,NaN,NaN,N/a
467,Ricardo D'Amico,Senior Data Scientist,X AI & Software,melbourne,sydney,455.0,NaN,NaN,NaN
468,Yitping kok,Engineer,X AI & Software,melbourne,sydney,455.0,NaN,NaN,NaN
470,Max Wang,LDS,X AI & Software,melbourne,sydney,455.0,NaN,NaN,NaN
471,Ricardo D'Amico,Senior Data Scientist,X AI & Software,melbourne,sydney,455.0,NaN,no,no
476,Sarah Belet,Data Scientist,X AI & Software,melbourne,sydney,455.0,NaN,No,NaN
478,Siqi Yuan,Data Scientist,X AI & Software,amsterdam,paris,741.0,NaN,NaN,nothing in particular
479,Przemyslaw Morski,Lead Data Scientist,X AI & Software,warsaw,berlin,663.0,NaN,NaN,NaN
487,Magdalena Krupa,Lead Data Scientist,X AI & Software,warsaw,berlin,663.0,NaN,No,No
501,Ankit Mishra,Software Engineer,X Delivery,new delhi,gurugram,52.0,NaN,NaN,NaN
503,Ankit Mishra,Software Engineer,X Delivery,new delhi,gurugram,52.0,NaN,NaN,No
524,Halvor Reiten,Data Scientist,X AI & Software,oslo,stockholm,364.0,NaN,NaN,No
533,Hyun Cho,Software Engineering Director,X Delivery,manhattan beach & la,manhattan beach,0.0,NaN,NaN,not at this moment.
537,Lydia Yu,AI Engineer,X AI & Software,brooklyn,new york,13.0,NaN,NaN,Would love to help out volunteering for the DC...
539,Bruno Mühlmann Holanda,Data Scientist,X AI & Software,rio de janeiro,sao paulo,247.0,NaN,No,No
540,Yitping Kok,Engineer,X AI & Software,melbourne,sydney,455.0,NaN,NaN,No
547,Tom Sandeman,Principal,X AI & Software,melbourne,sydney,455.0,1.0,Potentially client requirements,NaN
550,Brittany Woods,Sr. Solution Analyst,X Delivery,manhattan beach & la,manhattan beach,0.0,NaN,NaN,no
552,Heidi He,Data Scientist,X AI & Software,melbourne,sydney,455.0,NaN,NaN,NaN
570,Michael Boselowitz,Principle Software Design Engineer,X AI & Software,pittsburgh,washington dc,911.3,NaN,No,NaN
574,Lee Yeonkyung,Senior data scientist,X AI & Software,seoul,tokyo,689.0,NaN,No,.

# Host office representation

In [16]:
lob_counts = merged_with_travel.groupby(['destination', 'lob']).count()['name'].reset_index()
lob_counts_pivoted = pd.pivot(lob_counts, columns=['lob'], index=['destination'])['name'][['X AI & Software', 'X Delivery', 'X Ventures']]

In [17]:
lob_counts_pivoted

lob              X AI & Software  X Delivery  X Ventures
destination
barcelona                    3.0         4.0         NaN
bengaluru                    3.0        22.0         NaN
berlin                      11.0         2.0        20.0
bogota                       1.0         9.0         NaN
boston                      17.0        17.0         NaN
casablanca                   1.0        11.0         1.0
chicago                     10.0        22.0         1.0
dallas                      14.0         1.0         1.0
frankfurt                    2.0        11.0         NaN
gurugram                     2.0        37.0         NaN
london                      15.0         5.0        11.0
madrid                       9.0        14.0         NaN
manhattan beach              2.0         3.0         4.0
milan                       15.0         NaN         NaN
munich                       7.0         4.0         NaN
new york                    27.0         3.0         NaN
paris                       33.0         NaN         NaN
perth                        7.0         2.0         NaN
san francisco               17.0         1.0         NaN
santiago                    11.0         NaN         NaN
sao paulo                    8.0        19.0         NaN
seattle                     11.0         5.0         NaN
shanghai                     1.0         4.0         NaN
singapore                   14.0         NaN         8.0
stockholm                   18.0         1.0         NaN
sydney                      27.0         NaN         3.0
tokyo                        7.0         NaN         3.0
toronto                      6.0         4.0         NaN
washington dc                9.0         NaN         NaN
zurich                       7.0         NaN         NaN

In [18]:
lob_rep_plan = pd.read_excel('lob_rep_plan.xlsx') 
lob_rep_plan['Missing LOB'] = lob_rep_plan['Missing LOB'].str.split(',')
lob_rep_plan = lob_rep_plan.explode(['Missing LOB'])

# LOB reps

In [19]:
lob_reps = survey_raw[(~survey_raw['lob_rep_interest'].isna()) & (survey_raw['lob_rep_interest'] != 'None of the above')]

In [20]:
lob_reps.to_csv("data/extracted_lob_reps.csv")

### AI & software

In [21]:
lob_counts_pivoted[lob_counts_pivoted['X AI & Software'].isna()]

Empty DataFrame
Columns: [X AI & Software, X Delivery, X Ventures]
Index: []

In [22]:
lob_reps[lob_reps['lob'] == 'X AI & Software'].dropna(subset=['lob_rep_reason'])

,name,lob,role,location,attending,9 (Q9),12 (Q12_1),12 (Q12_2),12 (Q12_3),12 (Q12_4),12 (Q12_5),12 (Q12_6),12 (Q12_7),12 (Q12SPECIFIED_6),travel_notes,doing-talk,talk-title,talk-description,18 (Q18),lob_rep_interest,20 (Q20),21 (Q21),23 (Q23),lob_rep_reason,25 (Q25_1),26 (Q26_1),topics,other,Started,Completed,Branched Out,Over Quota,Last Modified,doing-talk-clean
Record ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
638295193090591825,Guillem Borrell Nogueras,X AI & Software,Lead AI Engineer,madrid,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,Yes,All you need is Duckdb,Duckdb is a relatively new high-performance qu...,45 minutes,I am interested in being LOB representative in...,NaN,No,NaN,I've been teaching technical stuff to DS and S...,NaN,NaN,Anything that is interesting and not about GenAI,"Please, don't make it only about GenAI",2023-09-05 14:01:49,2023-09-05 14:13:08,NaN,NaN,2023-09-05 14:13:08,1.0
638298051723847524,Archit Matta,X AI & Software,Data Scientist,new york,Yes,No,-,-,-,-,-,"Others ( please specify, including allergies)",-,No Beef,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,Yes,NaN,I'm super excited and have tried to contribute...,NaN,NaN,I'd be interested in knowing about more networ...,I would also be super interested in helping pl...,2023-09-08 21:26:12,2023-09-08 21:34:28,NaN,NaN,2023-09-08 21:34:28,NaN
638301162078151552,Abby Gong,X AI & Software,Senior Data Scientist,boston,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,Yes,MedTech supply chain AI capabilities,The application of supply chain AI capabilitie...,15 minutes,I am interested in being LOB representative in...,NaN,No,NaN,"I’m from AI&Software, but I have done multiple...",NaN,NaN,"Future one BCGx offering, collaborative ways o...",would like to hear the envision from org team ...,2023-09-12 11:50:07,2023-09-12 12:01:12,NaN,NaN,2023-09-12 19:37:38,1.0
638301202864066433,Kamal Darchini,X AI & Software,Lead data scientist,toronto,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,No,NaN,I have been in this LOB for 3+ years and have ...,NaN,NaN,Hands on GenAI,Thanks for organizing!,2023-09-12 12:58:06,2023-09-12 13:11:28,NaN,NaN,2023-09-12 13:11:28,NaN
638301255487576553,Saurabh Mahajan,X AI & Software,AI Engineer,denver,Yes,Yes,-,Vegetarian,-,-,-,-,-,NaN,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,No,NaN,Denver office has a very small presence of gam...,NaN,NaN,-,Can you send a broad categories and informatio...,2023-09-12 14:25:48,2023-09-12 14:40:44,NaN,NaN,2023-09-12 14:40:44,NaN
638312276035642564,Olga Kotova,X AI & Software,Data Scientist,london,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,Yes,Transforming Drug Discovery workflow using AI/...,Global Biopharma company was looking to accele...,30 minutes,I am interested in being LOB representative in...,NaN,No,NaN,I have strong public speaking skills emerging ...,NaN,NaN,Generative algorithms and language models,-,2023-09-25 08:33:23,2023-09-25 08:45:57,NaN,NaN,2023-09-25 08:45:57,1.0
638315193987323543,Kaoru Schwarzenegger,X AI & Software,Data Scientist,tokyo,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,No,NaN,Since I have a wide field of interest apart fr...,NaN,NaN,Different perspectives from other LOBs and ide...,Will likely not be able to block the whole day...,2023-09-28 17:36:38,2023-09-28 17:43:25,NaN,NaN,2023-09-28 17:43:25,NaN
638315202876045630,Adam Benali,X AI & Software,AI Engineer,stockholm,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,No,NaN,"We pretty much only have one LOB in Stockholm,...",NaN,NaN,-,-,2023-09-28 17:51:27,2023-09-28 17:57:33,NaN,NaN,2023-09-28 17:57:33,NaN
638315430336436294,Dave Rattan,X AI & Software,AI Engineer,sydney,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,Yes,How to move a legacy system to a modern and su...,Legacy systems are deeply routed in large orga...,30 minutes,I am interested in being LOB representative in...,NaN,No,NaN,Working across X.Ventures stream (end to end) ...,NaN,NaN,Ops and infrastructure as code implementation,N/a,2023-09-29 00:10:33,2023-09-29 00:26:11,NaN,NaN,2023-09-29 00:26:11,1.0

### X Delivery

In [23]:
lob_counts_pivoted[lob_counts_pivoted['X Delivery'].isna()]

lob            X AI & Software  X Delivery  X Ventures
destination
milan                     15.0         NaN         NaN
paris                     33.0         NaN         NaN
santiago                  11.0         NaN         NaN
singapore                 14.0         NaN         8.0
sydney                    27.0         NaN         3.0
tokyo                      7.0         NaN         3.0
washington dc              9.0         NaN         NaN
zurich                     7.0         NaN         NaN

In [52]:
len(lob_counts_pivoted[lob_counts_pivoted['X Delivery'].isna()].index)

8

In [24]:
lob_reps[lob_reps['lob'] == 'X Delivery'].dropna(subset=['lob_rep_reason'])

,name,lob,role,location,attending,9 (Q9),12 (Q12_1),12 (Q12_2),12 (Q12_3),12 (Q12_4),12 (Q12_5),12 (Q12_6),12 (Q12_7),12 (Q12SPECIFIED_6),travel_notes,doing-talk,talk-title,talk-description,18 (Q18),lob_rep_interest,20 (Q20),21 (Q21),23 (Q23),lob_rep_reason,25 (Q25_1),26 (Q26_1),topics,other,Started,Completed,Branched Out,Over Quota,Last Modified,doing-talk-clean
Record ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
638298890718873054,Amine Benaddi,X Delivery,Engineering Lead,casablanca,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,Yes,Leveraging typescript for micro service,"Trpc, turbo, nodejs",30 minutes,I am interested in being LOB representative in...,NaN,No,NaN,Interesting topic for next projects,NaN,NaN,Architectures leveraged in other cases,"Comparing Astro, Nextjs, fresh, blitzjs, etc",2023-09-09 20:44:31,2023-09-09 20:49:39,NaN,NaN,2023-09-09 20:49:39,1.0
638307984685797820,Panagiota Papakosta,X Delivery,Senior Analyst,munich,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,Yes,GeoAnalytics to accelerate Climate & Sustainab...,what is understood by the science of where and...,15 minutes,I am interested in being LOB representative in...,NaN,Yes,NaN,happy to represent LOB in the Munich office,NaN,NaN,other C&S applications,thanks for orga,2023-09-20 09:21:08,2023-09-20 09:27:17,NaN,NaN,2023-09-20 09:27:17,1.0
638309142512518582,Purnima Aggarwal,X Delivery,Lead data analyst,new delhi,Yes,Yes,Vegan,Vegetarian,-,-,-,"Others ( please specify, including allergies)",-,No onion and no garlic,No,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,Yes,NaN,Not sure,NaN,NaN,Outlook,No,2023-09-21 17:30:51,2023-09-21 17:33:52,NaN,NaN,2023-09-21 17:34:01,NaN
638309193066578398,Amar Patel,X Delivery,Product Management Director,austin,Yes,Yes,-,-,-,-,-,-,No dietary restrictions,NaN,No,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,Yes,NaN,I interface across all the areas within the X ...,NaN,NaN,GenAI use cases that we have developed and dep...,no,2023-09-21 18:55:06,2023-09-21 19:00:59,NaN,NaN,2023-09-21 19:00:59,NaN
638309418719094351,Jason He,X Delivery,Senior Delivery Analyst,shenzhen,Yes,Yes,-,-,-,-,-,-,No dietary restrictions,NaN,No,Yes,"OrgBuilder, data-driven organizational redesig...",Showcase and demo on OrgBuilder tool,30 minutes,I am interested in being LOB representative in...,NaN,No,NaN,There are only 2 X Delivery people in Greater ...,NaN,NaN,Sharing (case / tool) from Venture team,No,2023-09-22 01:11:11,2023-09-22 01:20:59,NaN,NaN,2023-09-22 01:20:59,1.0
638312379032342134,Oliver Hof,X Delivery,Technical Delivery Sr. Manager,warsaw,Yes,Yes,-,-,-,-,-,-,-,NaN,No,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,Yes,NaN,Almost 8 years in BCG; have been in the same j...,NaN,NaN,How teams are using AI tools internally. Any r...,"I am not quite sure how the LOB Rep will work,...",2023-09-25 11:25:03,2023-09-25 11:30:19,NaN,NaN,2023-09-25 11:30:19,NaN
638314001137590077,mohd sharique ansari,X Delivery,engineering lead,gurugram,Yes,No,Vegan,Vegetarian,-,-,-,-,-,NaN,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,Yes,NaN,I am part of the most revenue generating produ...,NaN,NaN,"Software Security, Infra modernization techniques",no,2023-09-27 08:28:33,2023-09-27 08:37:48,NaN,NaN,2023-09-27 08:37:48,NaN
638314079246651573,Madhur Mukhi,X Delivery,Engineering Lead,gurugram,Yes,No,-,Vegetarian,-,-,-,-,-,NaN,NaN,Yes,How we brought a legacy product in a Multi ten...,Workspace Manager is a utility to host and man...,15 minutes,I am interested in being LOB representative in...,NaN,Yes,NaN,Yes,NaN,NaN,"Agile , Software development",NaN,2023-09-27 10:38:44,2023-09-27 10:52:54,NaN,NaN,2023-09-27 10:52:54,1.0
638315013930037917,Luísa Lichfett,X Delivery,Software Engineer,sao paulo,Yes,Yes,-,-,-,-,-,-,No dietary restrictions,NaN,Not that I know of,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,No,NaN,I believe that a LOB should have some particul...,NaN,NaN,"GenAI, zero carbon technologies and approaches...",I think it's important for a community like BC...,2023-09-28 12:36:33,2023-09-28 12:47:15,NaN,NaN,2023-09-28 12:47:15,NaN
638315193779847718,Tejas Bala,X Delivery,Senior Analyst,chicago,Yes,No,-,-,-,Lactose intolerant,-,-,-,NaN,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,No,NaN,A Sr. Analyst for > 2 years have had a breadth...,NaN,NaN,Healthcare predictive modelling,Can help organize and develop content/material...,2023-09-28 17:36:17,2023-09-28 17:40:15,NaN,NaN,2023-09-28 17:40:15,NaN
638315198402425451,Nimish Gupta,X Delivery,Data and analytics director,bengaluru,Yes,No,-,Vegetarian,-,-,-,-,-,NaN,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,No,NaN,I have deep understanding of my LOB (Delivery)...,NaN,NaN,Nothing specific,Nothing specific,2023-09-28 17:44:00,2023-09-28 17:47:26,NaN,NaN,2023-09-28 17:47:26,NaN
638315249727464469,Sebastien Wynen,X Delivery,Product Management Lead,london,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,No,NaN,I have been in BCG for 6 years,NaN,NaN,GenAI,No,2023-09-28 19:09:32,2023-09-28 19:12:44,NaN,NaN,2023-09-28 19:12:44,NaN
638315872569601686,Lipi Srivastava,X Delivery,Software Engineer,bengaluru,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,Yes,GenAI,"GenAI use cases: Chatbot, smart pdf and email ...",15 minutes,I am interested in being LOB representative in...,NaN,No,NaN,'--,NaN,NaN,'--,'--,2023-09-29 12:27:36,2023-09-29 12:32:57,NaN,NaN,2023-09-29 12:32:57,1.0
638315943002284580,Sukrit Kurle,X Delivery,Data Engineering Lead,bengaluru,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,No,NaN,I have been a part of the X Delivery Data Engi...,NaN,NaN,No,I will collaborate with Joerg Schneider to pre...,2023-09-29 14:25:00,2023-09-29 14:31:17,NaN,NaN,2023-09-29 14:31:17,NaN
638315943121595054,Deepak Trehan,X Delivery,Data & Analytics Director,boston,Yes,No,Vegan,Vegetarian,-,-,-,-,-,NaN,NaN,Yes,X Delivery A&A,How Delivery team can enable cases and support...,15 minutes,I am interested in being LOB representative in...,NaN,Yes,NaN,Yes,NaN,NaN,GenAI,Majid Alivand,2023-09-29 14:25:12,2023-09-29 14:27:14,NaN,NaN,2023-09-29 14:27:14,1.0
638316005914858606,David Hoyos,X Delivery,Data Analytics Lead,bogota,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,No,NaN,X Delivery Lead that knows how the LOB works a...,NaN,NaN,apart from GPT uses from OpenAI in Gen AI case...,"what are the available topics for talks, becau...",2023-09-29 16:09:51,2023-09-29 17:07:46,NaN,NaN,2023-09-29 17:07:46,NaN
638319304359074261,Amine Benaddi,X Delivery,Engineering Lead,casablanca,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,Yes,frontend frameworks convergences and divergences,"comparison between svelte, solid, qwick, angul...",30 minutes,I am interested in being LOB representative in...,NaN,Yes,NaN,I am actively presenting subjects in our local...,NaN,NaN,"edge functions, edge computations, and other S...",nothing to mention,2023-10-03 11:47:15,2023-10-03 11:51:56,NaN,NaN,2023-10-03 11:51:56,1.0

# Options for LOB Rep X.Delivery

- Amine Benaddi -> Paris or Zurich
- Panagiota Papakosta -> Paris or Zurich or Milan
- Oliver Hof -> Zurich
- David Hoyos -> Santiago
- Deepak Trehan -> Washington DC
- Jason He -> Tokyo
- Sukrit Kurle -> Singapore

In [48]:
travel_cmn_cdg = 330
travel_cmn_zrh = 600 #takes too long vs cdg


travel_muc_cdg = 260
travel_muc_zrh = 450
travel_muc_mxp = 400

travel_waw_zrh = 250

hotel_mxp = 200
hotel_zrh = 200
hotel_cdg = 300


travel_bog_scl = 11000 #7hr flight, lol
hotel_scl = 400 #2 nights required

travel_bos_iad = 200
hotel_iad = 400

travel_szx_tok = 2100
hotel_tok = 300

travel_blr_sin = 2100 #5hr flight
hotel_sin = 600 #2 nights required

total_cmn_cdg = travel_cmn_cdg + hotel_cdg
total_cmn_zrh = travel_cmn_zrh + hotel_zrh

total_muc_cdg = travel_muc_cdg + hotel_cdg
total_muc_zrh = travel_muc_zrh + hotel_zrh
total_muc_mxp = travel_muc_mxp + hotel_mxp

total_scl = travel_bog_scl + hotel_scl
total_iad = travel_bos_iad + hotel_iad
total_tok = travel_szx_tok + hotel_tok
total_sin = travel_blr_sin + hotel_sin
total_waw_zrh = travel_waw_zrh + hotel_zrh


travel_lob_rep_delivery = lob_reps[lob_reps['lob'] == 'X Delivery'].dropna(subset=['lob_rep_reason'])
travel_lob_rep_delivery = travel_lob_rep_delivery.loc[travel_lob_rep_delivery['name'].isin(['Amine Benaddi', 'Panagiota Papakosta', 'Oliver Hof', 'David Hoyos', 'Deepak Trehan', 'Jason He', 'Sukrit Kurle'])]
travel_lob_rep_delivery = travel_lob_rep_delivery.drop_duplicates(subset='name')

travel_lob_rep_delivery.insert(4, 'destination', ['paris', 'milan', 'tokyo', 'zurich', 'singapore', 'washington', 'santiago'], True)
travel_lob_rep_delivery.insert(5, 'estimated_travel_plus_perc', [total_cmn_cdg, total_muc_mxp, total_tok, total_waw_zrh, total_sin, total_iad, total_scl], True)


travel_lob_rep_delivery[['name', 'lob', 'location', 'destination', 'estimated_travel_plus_perc', 'doing-talk-clean']]

,name,lob,location,destination,estimated_travel_plus_perc,doing-talk-clean
Record ID,,,,,,
638298890718873054,Amine Benaddi,X Delivery,casablanca,paris,630,1.0
638307984685797820,Panagiota Papakosta,X Delivery,munich,milan,600,1.0
638309418719094351,Jason He,X Delivery,shenzhen,tokyo,2400,1.0
638312379032342134,Oliver Hof,X Delivery,warsaw,zurich,450,NaN
638315943002284580,Sukrit Kurle,X Delivery,bengaluru,singapore,2700,NaN
638315943121595054,Deepak Trehan,X Delivery,boston,washington,600,1.0
638316005914858606,David Hoyos,X Delivery,bogota,santiago,11400,NaN

# Ventures

In [53]:
lob_counts_pivoted[lob_counts_pivoted['X Ventures'].isna()]

lob            X AI & Software  X Delivery  X Ventures
destination
barcelona                  3.0         4.0         NaN
bengaluru                  3.0        22.0         NaN
bogota                     1.0         9.0         NaN
boston                    17.0        17.0         NaN
frankfurt                  2.0        11.0         NaN
gurugram                   2.0        37.0         NaN
madrid                     9.0        14.0         NaN
milan                     15.0         NaN         NaN
munich                     7.0         4.0         NaN
new york                  27.0         3.0         NaN
paris                     33.0         NaN         NaN
perth                      7.0         2.0         NaN
san francisco             17.0         1.0         NaN
santiago                  11.0         NaN         NaN
sao paulo                  8.0        19.0         NaN
seattle                   11.0         5.0         NaN
shanghai                   1.0         4.0         NaN
stockholm                 18.0         1.0         NaN
toronto                    6.0         4.0         NaN
washington dc              9.0         NaN         NaN
zurich                     7.0         NaN         NaN

In [54]:
len(lob_counts_pivoted[lob_counts_pivoted['X Ventures'].isna()].index)

21

In [26]:
lob_reps[lob_reps['lob'] == 'X Ventures'].dropna(subset=['lob_rep_reason'])

,name,lob,role,location,attending,9 (Q9),12 (Q12_1),12 (Q12_2),12 (Q12_3),12 (Q12_4),12 (Q12_5),12 (Q12_6),12 (Q12_7),12 (Q12SPECIFIED_6),travel_notes,doing-talk,talk-title,talk-description,18 (Q18),lob_rep_interest,20 (Q20),21 (Q21),23 (Q23),lob_rep_reason,25 (Q25_1),26 (Q26_1),topics,other,Started,Completed,Branched Out,Over Quota,Last Modified,doing-talk-clean
Record ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
638301182426033496,Robin Weston,X Ventures,Principal,singapore,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,Yes,Building Gen AI PRODUCTS,Who decided that Gen AI doesn't require and de...,15 minutes,I am interested in being LOB representative in...,NaN,No,NaN,I am going to be in London already visiting fa...,NaN,NaN,Would love to hear about some ventures - I hav...,NaN,2023-09-12 12:24:02,2023-09-12 12:28:14,NaN,NaN,2023-09-12 12:28:14,1.0
638315196919892165,Sebastian Geidies,X Ventures,"Partner & Vice President, Engineering",berlin,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,No,NaN,Long experience with X.Ventures,NaN,NaN,Distributed Computing,NaN,2023-09-28 17:41:31,2023-09-28 17:43:46,NaN,NaN,2023-09-28 17:43:46,NaN
638315201269934155,Astera Schneeweisz,X Ventures,VP of Engineering,berlin,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,No,NaN,NaN,NaN,I am interested in being LOB representative in...,NaN,No,NaN,"Because i often work in the role of a GM, and ...",NaN,NaN,"Diversity, cultural topics, eng starter projects",not at this time :),2023-09-28 17:48:46,2023-09-28 17:56:42,NaN,NaN,2023-09-28 17:56:42,NaN
638315258771559218,Constantine Karlis,X Ventures,Lead Engineer,berlin,Yes,No,-,-,-,-,-,-,No dietary restrictions,NaN,NaN,Yes,"Privacy, Enterprise and DLT",How we found the right balance of openness and...,30 minutes,I am interested in being LOB representative in...,NaN,No,NaN,I've been at DV/X Ventures for a very long tim...,NaN,NaN,"In general: cats, noodles, synthesisers. Speci...",For the talk I would like to collaborate with ...,2023-09-28 19:24:37,2023-09-28 19:44:53,NaN,NaN,2023-09-28 19:44:53,1.0

# Options for LOB Rep X.Ventures

- Robin Weston -> Shanghai
- Sebastian Geidies, Astera, Constantine -> Munich, Frankfurt, Milan, Zurich or Stockholm

In [55]:
travel_sin_pvg = 1000 #estimate: can't get through travel portal

hotel_pvg = 260

travel_ber_muc_flight = 330
travel_ber_muc_train = 450 #more like 200 on DB directly

travel_ber_fra_flight = 260 
travel_ber_fra_train = 590 #more like 200 on DB directly

travel_ber_mxp = 300
travel_ber_zrh = 420
travel_ber_arn = 200

hotel_muc = 166
hotel_fra = 130
hotel_mxp = 200
hotel_zrh = 200
hotel_arn = 150

total_pvg = travel_sin_pvg + hotel_pvg
total_muc = travel_ber_muc_flight + hotel_muc
total_fra = travel_ber_fra_flight + hotel_fra
total_mxp = travel_ber_mxp + hotel_mxp
total_zrh = travel_ber_zrh + hotel_zrh
total_arn = travel_ber_arn + hotel_arn

travel_lob_rep_ventures = lob_reps[lob_reps['lob'] == 'X Ventures'].dropna(subset=['lob_rep_reason'])


travel_lob_rep_ventures.insert(4, 'destination', ['shanghai', 'munich', 'frankfurt', 'stockholm'], True)
travel_lob_rep_ventures.insert(5, 'estimated_travel_plus_perc', [total_pvg, total_muc, total_fra, total_arn], True)


travel_lob_rep_ventures[['name', 'lob', 'location', 'destination', 'estimated_travel_plus_perc', 'doing-talk-clean']]

,name,lob,location,destination,estimated_travel_plus_perc,doing-talk-clean
Record ID,,,,,,
638301182426033496,Robin Weston,X Ventures,singapore,shanghai,1260,1.0
638315196919892165,Sebastian Geidies,X Ventures,berlin,munich,496,NaN
638315201269934155,Astera Schneeweisz,X Ventures,berlin,frankfurt,390,NaN
638315258771559218,Constantine Karlis,X Ventures,berlin,stockholm,350,1.0

In [64]:
talks = survey_raw[['name', 'location', 'talk-title', 'talk-description', 'doing-talk-clean', 'doing-talk', '18 (Q18) ']]
talks = talks[talks['doing-talk-clean'] == 1]

# Define a dictionary to map cities to regions
city_to_region = {
    'amsterdam': 'EMESA',
    'atlanta': 'NAMR',
    'austin': 'NAMR',
    'barcelona': 'EMESA',
    'bek': 'EMESA',
    'bengaluru': 'APAC',
    'berlin': 'EMESA',
    'bogota': 'NAMR',
    'boston': 'NAMR',
    'brooklyn': 'NAMR',
    'brussels': 'EMESA',
    'casablanca': 'EMESA',
    'chicago': 'NAMR',
    'cologne': 'EMESA',
    'copenhagen': 'EMESA',
    'dallas': 'NAMR',
    'denver': 'NAMR',
    'dusseldorf': 'EMESA',
    'frankfurt': 'EMESA',
    'gurugram': 'APAC',
    'helsinki': 'EMESA',
    'houston': 'NAMR',
    'india': 'APAC',
    'johannesburg': 'EMESA',
    'london': 'EMESA',
    'madrid': 'EMESA',
    'manhattan beach & la': 'NAMR',
    'melbourne': 'APAC',
    'miami': 'NAMR',
    'milan': 'EMESA',
    'mumbai': 'APAC',
    'munich': 'EMESA',
    'new delhi': 'APAC',
    'new jersey': 'NAMR',
    'new york': 'NAMR',
    'nyc': 'NAMR',
    'oslo': 'EMESA',
    'paris': 'EMESA',
    'perth': 'APAC',
    'pittsburgh': 'NAMR',
    'rio de janeiro': 'NAMR',
    'san francisco': 'NAMR',
    'santiago': 'NAMR',
    'sao paulo': 'NAMR',
    'seattle': 'NAMR',
    'seoul': 'APAC',
    'shanghai': 'APAC',
    'shenzhen': 'APAC',
    'silicon valley': 'NAMR',
    'singapore': 'APAC',
    'stockholm': 'EMESA',
    'sydney': 'APAC',
    'tokyo': 'APAC',
    'toronto': 'NAMR',
    'vienna': 'EMESA',
    'warsaw': 'EMESA',
    'washington dc': 'NAMR',
    'zurich': 'EMESA'
}

talks['region'] = talks['location'].map(city_to_region)

talks.sort_values(by=['region'])

,name,location,talk-title,talk-description,doing-talk-clean,doing-talk,18 (Q18),region
Record ID,,,,,,,,
638314079246651573,Madhur Mukhi,gurugram,How we brought a legacy product in a Multi ten...,Workspace Manager is a utility to host and man...,1.0,Yes,15 minutes,APAC
638309418719094351,Jason He,shenzhen,"OrgBuilder, data-driven organizational redesig...",Showcase and demo on OrgBuilder tool,1.0,Yes,30 minutes,APAC
638303525517533262,Jurgen Hanekom,perth,Modern Local Data Science Tech Stack,Combination of third party tools to solve a lo...,1.0,Yes,30 minutes,APAC
638303510249701567,Michael Chu,sydney,NaN,NaN,1.0,Yes,NaN,APAC
638303491659255801,Adam Whybrew,sydney,ShopGTT our patent-pending transformer-based s...,We've applied for a patent on using Trabsforme...,1.0,Yes,15 minutes,APAC
638309631694877374,Sammy Garland,singapore,NaN,NaN,1.0,Yes,NaN,APAC
638302636540372376,Gaurav Gaurav,gurugram,Navigating the Future: Blockchain and Hyperled...,"Discover how Hyperledger Fabric, an open-sourc...",1.0,Yes,15 minutes,APAC
638311053147961162,Aparna Kapoor,singapore,NaN,NaN,1.0,Yes,NaN,APAC
638302198936398511,Gaurav Gaurav,gurugram,NaN,NaN,1.0,Yes,NaN,APAC
638301754964668659,Wataru Tatsuda,tokyo,Unpacking the GenAI Architecture: What Makes I...,"Based on my building experience, what should w...",1.0,Yes,30 minutes,APAC
638306989465390453,Seongbong Kim,seoul,Parameter optimization for elecfoil manufacturer,Case sharing of our parameter optimization app...,1.0,Yes,15 minutes,APAC
638314084955680476,Aakash Uniyal,gurugram,GenAI Integration in KEY by BCG,How generative AI can help our Software Produc...,1.0,Yes,15 minutes,APAC
638314927368750907,Karan Sawlani,gurugram,Deepflow- Databricks,How we have developed Deepflow (A cloud agnost...,1.0,Yes,15 minutes,APAC
638316705934982088,Tom Sandeman,melbourne,Optimising python code - to vectorise or loop?,"When trying to speed up python code, a common ...",1.0,Yes,15 minutes,APAC
638315430336436294,Dave Rattan,sydney,How to move a legacy system to a modern and su...,Legacy systems are deeply routed in large orga...,1.0,Yes,30 minutes,APAC
638315872569601686,Lipi Srivastava,bengaluru,GenAI,"GenAI use cases: Chatbot, smart pdf and email ...",1.0,Yes,15 minutes,APAC
638315828360804550,Kumar Navneet,bengaluru,API optimizations in Function App,Different steps taken to optimize a API respon...,1.0,Yes,15 minutes,APAC
638315699068729037,Jason Zhang,shanghai,GenAI Practice in China,Introduce major considerations of applying Gen...,1.0,Yes,15 minutes,APAC
638315486154414377,Ian McKerracher,perth,Delivering enterprise-grade apps at a consulti...,Custom software requires more than UI and mode...,1.0,Yes,15 minutes,APAC
638315419326393297,Adam Whybrew,sydney,The different kinds of chatbots,Traditional chatbots give lousy customer exper...,1.0,Yes,15 minutes,APAC
638301182426033496,Robin Weston,singapore,Building Gen AI PRODUCTS,Who decided that Gen AI doesn't require and de...,1.0,Yes,15 minutes,APAC
638315472687923419,Carlos Bribiescas,singapore,[WIP] Challenges of building with clients,Want to walk through a case and explore the ch...,1.0,Yes,30 minutes,APAC
638308808177610475,Erik Diessel,frankfurt,Multi-objective optimization: a different way ...,Introduce the technique of multi-objective opt...,1.0,Yes,15 minutes,EMESA
638308956338252469,Sarah Hank,london,How to leverage mobility (footfall data) with ...,"Overview of where footfall data comes from, wh...",1.0,Yes,30 minutes,EMESA
638315830362544462,Lamghari Majid,casablanca,NaN,NaN,1.0,Yes,NaN,EMESA
638314916001099058,Jörg Schneider,munich,Atlas Community – Data science & engineering P...,"Over the last 5+ years, the Fabriq & DeepAI Pe...",1.0,Yes,30 minutes,EMESA
638315258771559218,Constantine Karlis,berlin,"Privacy, Enterprise and DLT",How we found the right balance of openness and...,1.0,Yes,30 minutes,EMESA
638312325958629306,Quentin LEFFRAY,paris,"Gamma MLOps, state of the art fundational MLOp...",Overview and promotion of our BCG X-developped...,1.0,Yes,30 minutes,EMESA
638313220178208612,ouahib wahib,casablanca,NaN,NaN,1.0,Yes,NaN,EMESA
638313980736149667,Benjamin Stevenson,copenhagen,OrgBuilder: Enabling Clients and Case Teams at...,"Overview of OrgBuilder, our largest software s...",1.0,Yes,30 minutes,EMESA
638315169039041773,Corvin Deboeser,berlin,"Unclear, either in the realm of data engineeri...",Spotlight on sth like Argo Workflows with a qu...,1.0,Yes,30 minutes,EMESA
638315119296082990,Anna Birrer,berlin,This is my working title,Something interdisciplinary between engineerin...,1.0,Yes,15 minutes,EMESA
638312276035642564,Olga Kotova,london,Transforming Drug Discovery workflow using AI/...,Global Biopharma company was looking to accele...,1.0,Yes,30 minutes,EMESA
638295017293253099,Yanna Zhu,london,Immersive Technology & Spatial Computing,Quick intro to AR / VR and other immersive tec...,1.0,Yes,15 minutes,EMESA
638307984685797820,Panagiota Papakosta,munich,GeoAnalytics to accelerate Climate & Sustainab...,what is understood by the science of where and...,1.0,Yes,15 minutes,EMESA
638307107347481260,Abdrakhmanova Nelly,helsinki,NaN,NaN,1.0,Yes,NaN,EMESA
638295088067591414,Priyanka Syal,berlin,Using gRPC to implement client-server communic...,The talk gives an introduction to gRPC and it’...,1.0,Yes,15 minutes,EMESA
638295173666845578,Guillem Borrell Nogueras,madrid,All you need is Duckdb,"Duckdb is a modern query engine, and one of th...",1.0,Yes,45 minutes,EMESA
638295193090591825,Guillem Borrell Nogueras,madrid,All you need is Duckdb,Duckdb is a relatively new high-performance qu...,1.0,Yes,45 minutes,EMESA
638295851552389120,Anamay Sarvate,berlin,NaN,NaN,1.0,Yes,NaN,EMESA
638297714191828650,Mohcine Miftah,casablanca,Data Vault 2.0,Data Vault 2.0 is a data modeling technique th...,1.0,Yes,15 minutes,EMESA
638298890718873054,Amine Benaddi,casablanca,Leveraging typescript for micro service,"Trpc, turbo, nodejs",1.0,Yes,30 minutes,EMESA
638301149763933457,Tony Yang,london,Speed Up SVM with Rust,We ported one of Scikit-learn's SVM subroutine...,1.0,Yes,15 minutes,EMESA
638301231737545889,Ilya Makarov,london,LLM4Anything: Multi-Agent Personalized Large L...,We would go though the idea of AGI as a collab...,1.0,Yes,30 minutes,EMESA
638301206585844711,Matthew Sinclair,london,"(Working title): ""Irresponsible AI - Things th...",Instead of asking ourselves if we COULD do som...,1.0,Yes,30 minutes,EMESA
638319304359074261,Amine Benaddi,casablanca,frontend frameworks convergences and divergences,"comparison between svelte, solid, qwick, angul...",1.0,Yes,30 minutes,EMESA
638306521450915211,Hamza Rehioui,casablanca,Problem Solving,I am thinking of sharing how I navigated my jo...,1.0,Yes,15 minutes,EMESA
638303961475243930,Gabriele Corni,milan,"Engineering ETL with dbt: pros, cons and lesso...",The talk will present dbt as a new engineering...,1.0,Yes,30 minutes,EMESA
638303156646453059,Corvin Deboeser,berlin,NaN,NaN,1.0,Yes,NaN,EMESA
638302198536579215,Constantine Karlis,berlin,Are public ledgers compatible with business?,How we utilised a public DLT for a Telco use c...,1.0,Yes,30 minutes,EMESA
638316503248432849,Bale Rajprakash,san francisco,Few techniques to save time in data pre & post...,"Based on my work experience with LLMs, I want ...",1.0,Yes,15 minutes,NAMR
638316459396610471,Scott Gee,san francisco,GenAI Data Processing,Discussing the process of chunking data and au...,1.0,Yes,30 minutes,NAMR
638315943121595054,Deepak Trehan,boston,X Delivery A&A,How Delivery team can enable cases and support...,1.0,Yes,15 minutes,NAMR
638306649981753544,Mukund Poddar,new york,Why Software Engineering matters for BCG X,"At BCG, we often focus on fast iterations, qui...",1.0,Yes,15 minutes,NAMR
638295164238723808,Lucas Fonseca Pereira,sao paulo,NaN,NaN,1.0,Yes,NaN,NAMR
638295318588465042,Ian Stokes-Rees,new york,How I learned to stop worrying and love agile ...,Part of the magic of BCG and the magic we take...,1.0,Yes,30 minutes,NAMR
638302222985448419,Dhyey Shah,chicago,NaN,NaN,1.0,Yes,NaN,NAMR
638301288400809622,Shivanshu Naithani,manhattan beach & la,MFG AI,Describe BCG's MFG AI engineering platform tha...,1.0,Yes,30 minutes,NAMR
638315281002735677,Rajprakash Bale,san francisco,Data pre-processing for LLM trainings,I want to share something that I worked with b...,1.0,Yes,15 minutes,NAMR
638301147804244475,Arun Ravindran,boston,Traditional AI vs Gen AI,Traditional AI vs Gen AI,1.0,Yes,15 minutes,NAMR
638301530200756625,Ankita Chandak,seattle,Not sure,Not sure,1.0,Yes,15 minutes,NAMR
638301162078151552,Abby Gong,boston,MedTech supply chain AI capabilities,The application of supply chain AI capabilitie...,1.0,Yes,15 minutes,NAMR
638307521902973267,Abhay Vatsa,austin,Empowering Engineers and Unlocking Creativity:...,"In today's fast-paced tech landscape, engineer...",1.0,Yes,15 minutes,NAMR
638301212603722840,Naren Chaudhry,chicago,NaN,NaN,1.0,Yes,NaN,NAMR
638314471068906516,Andy Moon,manhattan beach & la,What is Cloud FinOps,Overview on tools and principles of cloud fino...,1.0,Yes,15 minutes,NAMR
638314442310800082,Tom Berg,manhattan beach & la,GenAi - visual info,Visual context and llms,1.0,Yes,15 minutes,NAMR
638314387213400453,Dian,houston,NaN,NaN,1.0,Yes,NaN,NAMR
638312523468482966,Siva Kannan,manhattan beach & la,Power of connected holes rather than separate ...,"In this tech talk, we will explore the importa...",1.0,Yes,15 minutes,NAMR
638301286517013456,Santhosh Ganesh,atlanta,WIE - Architecture and Collaboration,WIE is the new joint offering from TDA/X for W...,1.0,Yes,30 minutes,NAMR
638301311587110078,Alexander Duane Cole,washington dc,Functional Programming in Python - No more bro...,"As data scientists, we use python for it's abi...",1.0,Yes,30 minutes,NAMR
638315282443040619,Michael Brent,denver,Responsible AI at BCG,"Introduction to Responsible AI policies, princ...",1.0,Yes,30 minutes,NAMR
638307217095590447,albano.luis@bcg.com,sdasd,asdasd,asdasd,1.0,Yes,15 minutes,NaN